// Renkler
$eyelash-viper: #f3c84b; // Sarı
$liberty: #5a4999; // Mor  
$carbon: #333333; // Koyu Gri   
$shady-character: #4c4c4c7e; //footer Gri
$boat-anchor: #6b6b6b; // Orta Gri
$clouded-vision: #d1d1d1; // Açık Gri
$white-shoulders: #f1f0ed; // Çok Açık Gri
$granite-canyon: #6d6e76; //Medium Gri
$white: #FFFFFF; // Beyazsmall
$cold-steel: #232536; //siyah
$clear-moon: #fbf6ea; //açık sarı
$alpine-goat: #f4f0f8; //lavender
$black: #00000011; //siyah
$christmas-silver: #e0e0e0; //Gümüş 
$royalty: #592ea9;
$river-styx: #161722;

// Font Ailesi
$font-family-primary: 'Sen', sans-serif;
$font-family-inter: 'Inter', sans-serif;

// Font Büyüklüğü
$heading-xxlarge-size: 36px;
$heading-xlarge-size: 28px;
$heading-large-size: 24px;
$heading-medium-size: 18px;
$heading-small-size: 16px;
$heading-xsmall-size: 14px;

// Line Heights
$line-height-xlarge: 48px;
$line-height-large: 40px;
$line-height-medium: 32px;
$line-height-small: 28px;
$line-height-xsmall: 24px;
$line-height-xxsmall: 20px;

.page{

 &__header {
    background-color: $cold-steel;
    color: $white;
  }

 &__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: $cold-steel !important;
  display: flex;
  align-items: center;
  justify-content: space-between; 

   &-brand {
    font-size: $heading-large-size;
    font-family: $font-family-primary;
    font-weight: bold;
    color: $white;
    margin-left: 83px;
    display: flex;
    align-items: center;
    white-space: nowrap;
      
    &-bracket {
      font-size: $heading-large-size;
      margin-top: -5px;
    }
    
    &-name {
      font-size: $heading-large-size;
      font-weight: bold;
      padding-left: 2px;
    }
   }

   &-nav {
    display: flex;
    align-items: center;
    margin-right: 80px;
   }

   &-item {
    margin: 0 10px;
   }

   &-link {
    color: $white !important;
    font-size: $heading-small-size;
    line-height: $line-height-small;
    font-family: $font-family-inter;

     &:hover {
      color: $white;
     }
    }

   &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    width: 179px;
    height: 56px;
    padding: 16px 48px;
    border: none;
    cursor: pointer;
    opacity: 1;
    text-align: center;
    border-radius: 0;
    position: relative;
    right: 0;
    margin-left: 32px; 

     &:hover {
      background-color: darken($white, 10%);
     }
    }

   &-text {
    color: $carbon;
    font-size: $heading-medium-size;
    font-family: $font-family-primary;
    line-height: $line-height-xsmall;
   }
  }

&__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    max-width: 1280px;
    max-height: 324px;
    margin: 0 auto;
  
    &-title {
      font-size: $heading-xxlarge-size;
      font-weight: bold;
      text-align: center;
      padding-bottom: 30px;
    }
  
    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
    }
  
    &-item {
      flex: 1;
      position: relative;
      padding: 20px;
      border: 1px solid $clouded-vision;
      transition: background-color 0.3s ease;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      margin-left: 32px;
     
      &:hover {
        background-color: $eyelash-viper; 
      }
    
     &-icon { 

      &--background { 
        height: 48px; 
        display: flex; 
        align-items: flex-start; 
        justify-content: flex-start; 
        position: relative; 
        top: 20%;  
        left: 20%;  

       &-img { 
        width: 23px;  
        position: absolute;  
        transform: translate(-50%, -50%);  
        height: auto; 
        padding-bottom: 35px; 
        left: 19%;  
        } 
       } 

       &--large {
        width: 40px;
        height: 70px;
       }
      } 
  
      &-title { 
        font-size: $heading-xlarge-size;
        font-weight: bold; 
        margin-bottom: 1px; 
        color: $carbon;  
        text-align: left; 
        padding: 10px;  
        font-family: $font-family-primary;  
        padding-left: 10px;
        line-height: $line-height-large;
      } 
  
      &-description {  
        font-size: $heading-small-size;
        color: $boat-anchor;  
        text-align: left;  
        padding-left: 10px;
        font-family: $font-family-inter;
        line-height: $line-height-small;
       }
      }
  } 

&__authors {
    padding-top: 100px;
    text-align: center;
  
    &-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px;
    }
  
    &-item {
      background-color: $white-shoulders;
      padding: 50px;
      margin-bottom: 10px;
      text-align: center;
      border-radius: 0px;
      max-width: 296px;
      max-height: 324px;
        
      &:hover {
       background-color: $clear-moon; 
      }

      &-img {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        margin-bottom: 10px;
        margin-top: -10px;
      }
  
      &-name {
        font-size: $heading-xlarge-size;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: $line-height-large;
        font-family: $font-family-primary;
        white-space: nowrap; 
      }
  
      &-title {
        font-size: $heading-small-size;
        text-overflow: ellipsis;
        white-space: nowrap; 
      }
  
      &-social {
        display: flex;
        justify-content: center;
        gap: 16px;
        
        &-img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

&__join {
    padding: 128px 0;
    background-color: $white; 
    max-width: 414px;
    margin: 0 auto; 
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  
    &-title {
      font-size: 32px;
      font-weight: bold;
      font-family: $font-family-primary;
      color: $carbon; 
      margin-bottom: 24px;
      flex-direction: column;
      max-height: 96px;
    }
  
    &-text {
      font-size: $heading-small-size;
      color: $granite-canyon;
      line-height: $line-height-small;
      font-family: $font-family-inter;
      margin-bottom: 32px;
      flex-direction: column;
    }
  
    &-button {
      padding: 10px;
      width: 174px;
      margin: 0 auto;
      height: 56px;

      &-link {
        background-color: $eyelash-viper;
        color: $carbon;
        padding: 12px 24px;
        text-decoration: none;
        font-size: $heading-small-size;
        font-weight: bold;
        border-radius: 0;
        transition: background-color 0.3s ease;
        flex-direction: column;
        line-height: $line-height-xsmall;
  
        &:hover {
          background-color: darken($eyelash-viper, 0%);
          color: $carbon;
        }
      }
    }
  }

&__newsletter {
    background-color: $cold-steel;
    padding: 40px 20px;
    color: $white;
    position: relative; 
    width: 1440px;
    height: 560px;
    width: 100%;
  
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      margin-bottom: 54px;
  
        &-bracket {
          font-size: $heading-xlarge-size;
          color: $white;
          left: 10.4%;
          position: relative;
        }
  
        &-name {
          font-size: $heading-large-size;
          font-weight: bold;
          color: $white;
          margin-left: -765px;
        }
  
      &-nav {
        display: flex;
        gap: 20px;
        margin-right: 190px; 
  
        &-link {
          color: $white;
          text-decoration: none;
          font-size: $heading-small-size;
          font-family: $font-family-inter;
          line-height: $line-height-small;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  
    &-content {
      background-color: $shady-character;
      padding: 0px 80px;
      width: 1280px;
      height: 256px;
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      flex-wrap: wrap;
      margin-left: 170px;
      width: 80%;
  
        &-title {
          font-size: $heading-xxlarge-size;
          line-height: $line-height-xlarge;
          font-family: $font-family-primary;
          letter-spacing: -2px;
          font-weight: bold;
          max-width: 562px;
          max-height: 96px;
        }
  
        &-form {
          display: flex;
          justify-content: center;
          gap: 20px;
  
          &-input {
            padding: 15px;
            border: 1px solid $granite-canyon;
            border-radius: 0px;
            width: 300px;
            color: $carbon;
            background-color: $shady-character;
          }
  
          &-button {
            background-color: $eyelash-viper;
            border: none;
            padding: 15px 30px;
            color: $carbon;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: darken($eyelash-viper, 10%);
            }
          }
        }
      }
  
    &-footer {
      position: relative;
      color: $clouded-vision;
  
      &-address {
        position: absolute;
        left: 170px; 
        bottom: -80px; 
        flex-direction: column;
        font-family: $font-family-inter;
        font-size: $heading-small-size;
        line-height: $line-height-small;
      }

      &-contact {
        position: absolute;
        left: 170px; 
        bottom: -110px; 
        flex-direction: column;
        font-family: $font-family-inter;
        font-size: $heading-small-size;
        line-height: $line-height-small;
      }
  
      &-social {
        position: absolute;
        right: 175px; 
        bottom: -90px; 
        display: flex;
        gap: 26px;
        margin-right: 20px;
  
        &-icon {
          width: 16px;
          height: 16px;
          filter: brightness(0) invert(1); 
          opacity: 0.7; 
          transition: filter 0.3s ease, opacity 0.3s ease;
  
          &:hover {
            filter: brightness(0) invert(1);
          }
         }
       }
     }
  }
}

.home {

  &__hero {
    position: relative;
    width: 1440px;
    width: 100%;
    height: 720px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; 
    align-items: center;

    &-image {
      position: absolute;
      top: 0;
      left: 10;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    &-content {
      max-width: 804px;
      margin-left: 81px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; 
      color: $white;
      z-index: 2;
      position: relative;

      &-category {
        font-size: $heading-small-size;
        line-height: $line-height-xxsmall;
        font-family: $font-family-inter;
        letter-spacing: 3px;
        color: $white;
      
       &--highlight {
        font-weight: bold;
        font-size: $heading-small-size;
        line-height: $line-height-xxsmall;
        font-family: $font-family-inter;
        letter-spacing: 3px;
        font-weight: 600;
        color: $white;
       }
      }

      &-title {
        font-size: 56px;
        font-weight: 700;
        width: 803px;
        height: 128px;
        line-height: 64px;
        letter-spacing: -2px;
        margin-bottom: 20px;
        font-family: $font-family-primary;
        color: $white;
      }

      &-author {
        font-size: $heading-small-size;
        margin-bottom: 10px;
        line-height: $line-height-small;
        font-family: $font-family-inter;
        font-weight: 400;

        &--color {
          color: $eyelash-viper; 
        } 
      }

      &-description {
        font-size: $heading-small-size;
        line-height: $line-height-small;
        width: 599px;
        height: 56px;
        font-family: $font-family-inter;
        font-weight: 400;
      }

      &--button {
        background-color: $eyelash-viper;
        border: none;
        width: 204px;
        height: 56px;
        padding: 16px 48px;
        position: relative;
        gap: 12px;
        opacity: 1;
        color: $carbon;
        font-family: $font-family-primary;
        font-weight: 700;
        font-size: $heading-medium-size;
        line-height: $line-height-xsmall;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;

        &:hover {
          background-color: darken($eyelash-viper, 10%);
        }
      }
    }
  }

  &__posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
    max-width: 1282px;
    margin: 0 auto; 
    padding: 128px 20px; 
    max-height: 804px;

    &-featured {
      flex: 1 1 60%;
      margin-right: 32px;

      &-image-container {
        position: relative;
      }

      &-title {
        font-size: $heading-xxlarge-size;
        font-weight: bold;
        font-family: $font-family-primary;
        line-height: $line-height-xlarge;
        margin-bottom: 32px;
      }

      &-content {
        padding: 32px;
        border-radius: 1px;
        background-color: $white;
        border: 1px solid $black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-image {
        width: 100%;
        }

        &-meta {
          font-size: $heading-xsmall-size;
          color: $boat-anchor;
          line-height: $line-height-xxsmall;
          font-family: $font-family-inter;
          margin-bottom: 16px;
          margin-top: 32px;

          &--author {
            font-family: $font-family-inter;
            color: $liberty !important;
            font-size: $heading-xsmall-size;
            line-height: $line-height-xxsmall;
          }
        }

        &-title {
          font-size: $heading-xlarge-size;
          font-weight: bold;
          font-family: $font-family-primary;
          line-height: $line-height-large;
          margin-bottom: 16px;
        }

        &-description {
          font-size: $heading-small-size;
          line-height: $line-height-small;
          color: $carbon;
          margin-bottom: 32px;
          width: 551px;
          height: 56px;
        }

        &--button {
          background-color: $eyelash-viper;
          border: none;
          width: 204px;
          height: 56px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0;
          font-family: $font-family-primary;
          color: $carbon;
          font-weight: 700;
          font-size: $heading-medium-size;
          line-height: $line-height-xsmall;
          left: 0;
          text-align: left; 

          &:hover {
            background-color: darken($eyelash-viper, 10%);
          }
        }
      }
    }

    &-list {
      flex: 1 1 35%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      width: 517px;
      height: 804px;
      
      &-title {
        font-size: $heading-xxlarge-size;
        font-weight: bold;
        font-family: $font-family-primary;
        line-height: $line-height-xlarge;
        padding-bottom: 32px;
      }

      &-view-all {
        font-size: $heading-small-size;
        color: $liberty;
        text-decoration: none;
        line-height: $line-height-small;
        align-self: flex-end; 
        position: absolute;
        margin-top: 11px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &-items {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;

        &-item {
          background-color: $white;
          position: relative; 
          display: flex;
          flex-direction: column;
          justify-content: flex-start; 
          border-radius: 0;  
          transition: background-color 0.3s ease;

          &:hover {
            background-color: $clear-moon; 
          }

          &-meta {
            font-size: $heading-xsmall-size;
            color: $boat-anchor;
            line-height: $line-height-xxsmall;
            font-family: $font-family-inter;
            margin-bottom: 8px;
            margin-left: 32px;
            margin-top: 32px;

            &-author {
              color: $liberty;
            }
          }

          &-text {
            width: 360px;
            height: 96px;
            font-size: $heading-large-size;
            font-weight: bold;
            color: $carbon;
            line-height: $line-height-medium;
            font-family: $font-family-primary;
            margin-left: 32px;
            padding-top: 4px;    
            padding-bottom: 4px;  
          }
        }
      }
    }
  }
   
  &__about {
    padding: 40px 20px;
    padding-top: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
    &::before {
      content: "";
      position: absolute;
      top: 255px;  
      left: 63%; 
      transform: translateX(-63%); 
      height: 23px;
      width: 70%;
      max-width: 900px;
      background: linear-gradient(to right, $eyelash-viper 70%, $liberty 30%);
    }

    .container {
      max-width: 1280px;
      max-height: 500px;
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-container-wrapper {
      max-width: 1280px; 
      height: 500px; 
      margin: 0 auto; 
      padding: 40px; 
      position: relative;
      top: -20px; 
      z-index: 0; 
      background-color: $alpine-goat;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-section {
      width: 48%;
      text-align: left;

      &-title {
        font-size: $heading-small-size;
        font-weight: 600;
        letter-spacing: 3px;
        color: $carbon;
        margin-bottom: 24px;
        font-family: $font-family-inter;
        margin-top: 60px;
        line-height: $line-height-xxsmall;
      }

      &-subtitle {
        font-size: $heading-xxlarge-size;
        font-weight: bold;
        color: $carbon;
        font-family: $font-family-primary;
        line-height: $line-height-xlarge;
        width: 494px;
        height: 144px;
      }

      &-description {
        font-size: $heading-small-size;
        color: $granite-canyon;
        line-height: $line-height-small;
        margin-bottom: 16px;
        margin-top: 16px;
        font-family: $font-family-inter;
        width: 515px;
        height: 56px;
      }

      &-link {
        font-size: $heading-medium-size;
        color: $liberty;
        text-decoration: none;
        font-weight: bold;
        line-height: $line-height-medium;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-mission {

      &-section  {
        width: 48%;
  
        &-title {
          font-size: $heading-small-size;
          font-weight: 600;
          letter-spacing: 3px;
          color: $carbon;
          margin-bottom: 24px;
          font-family: $font-family-inter;
          margin-top: 60px;
          line-height: $line-height-xxsmall;
        }
  
        &-subtitle {
          font-size: $heading-xlarge-size;
          font-weight: bold;
          color: $carbon;
          font-family: $font-family-primary;
          line-height: $line-height-large;
          width: 481px;
          height: 80px;
          letter-spacing: -1px;
        }
  
        &-description {
          font-size: $heading-small-size;
          color: $granite-canyon;
          line-height: $line-height-small;
          margin-bottom: 16px;
          margin-top: 16px;
          font-family: $font-family-inter;
          width: 516px;
          height: 108.73px;
        }
      }
    }
  
  &-story{
    position: relative;
    padding: 200px 0;
  
    .container {
      position: relative;
      z-index: 2;
      max-width: 1280px;
    }
  
    &-image {
      width: 75%; 
      height: auto; 
      z-index: 1;
      right:90px;
    }
  
    &-content {
      position: absolute;
      z-index: 2; 
      background: $white; 
      padding: 100px;
      max-width: 706px;
      bottom: -45%;
      right: -10px;
      padding-left: 50px;
  
      &-title {
        font-size: $heading-small-size;
        color: $carbon;
        font-weight: bold;
        margin-bottom: 10px;
        font-family: $font-family-inter;
        line-height: $line-height-xxsmall;
      }
  
      &-subtitle {
        font-size: 46px;
        font-family: $font-family-primary;
        line-height: 64px;
        color: $carbon;
        font-weight: bold;
        margin-bottom: 10px;
        max-width: 546px;
      }
  
      &-description {
        font-size: $heading-small-size;
        color: $boat-anchor;
        margin-bottom: 20px;
        font-family: $font-family-inter;
        line-height: $line-height-small;
      }
  
      &-button {
        background-color: $eyelash-viper;
        color: $carbon;
        font-size: $heading-medium-size;
        font-weight: bold;
        padding: 12px 24px;
        text-align: center;
        border-radius: 0;
        line-height: $line-height-xsmall;
  
        &:hover {
          background-color: darken($eyelash-viper, 10%);
          color: $carbon;
        }
      }
    }
  }

  &-featured {
    padding: 80px 0;
    background-color: $white; 
    text-align: left; 
  
    &-title { 
      display: flex; 
      flex-direction: column; 
      font-size: $heading-large-size;
      align-items: flex-start; 
      padding-left: 17%; 
  
      &-line-first { 
        padding-top: 10px; 
        font-size: $heading-xsmall-size;   
        line-height: $line-height-xxsmall;    
        font-family: $font-family-inter;   
        color: $granite-canyon;   
      } 
  
      &-line-second {  
        font-size: $heading-large-size;
        line-height: $line-height-medium;
        font-family: $font-family-primary; 
        color: $granite-canyon;
      } 
     } 
  
    &-logos {  
      display: flex; 
      justify-content: center; 
      gap: 75px; 
      margin-top: -35px; 
      padding-left: 200px; 

      &-img { 
        width: auto; 
        height: 32px; 
        opacity: 0.7; 
        filter: grayscale(50%); 
        transition: opacity 0.3s ease, filter 0.3s ease;
  
        &:hover {
          opacity: 1;
          filter: grayscale(0%);
        }
      }
    }
   }
  
  &-testimonials {
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 150px;
    background-color: $clear-moon;
    width: 1280px;
    height: 464px;
  
    &-text {
      max-width: 349px;
      max-height: 200px;
      padding-left: 80px;

      &::after {
        content: "";
        position: absolute;
        opacity: 0.3;
        top: -10px;
        right: 10px; 
        height: 310px;
        width: 0.2px; 
        background-color: $granite-canyon; 
      }

      &-heading {  
        font-size: $heading-small-size;
        letter-spacing: 3px; 
        margin-bottom: 12px; 
        font-family: $font-family-inter;
        line-height: $line-height-xxsmall;
      } 
  
      &-subheading { 
        font-size: 34px;
        font-weight: bold;
        padding-bottom: 20px;
        width: 345px;
        height: 96px;
        font-family: $font-family-primary;
        line-height: $line-height-xlarge;
      }
  
      &-description {
        font-size: $heading-small-size;
        color: $boat-anchor;
        line-height: $line-height-small;
        font-family: $font-family-inter;
        width: 349px;
        height: 56px;
      }
    }

   &-item {
    margin-left: 100px;

      &-intro {
        font-size: 19px;
        color: $carbon;
        max-width: 469px;
        max-height: 128px;
        font-weight: bold;
        line-height: $line-height-medium;
      }
    
     &-nav {
        display: flex;
        align-items: center;
        margin-bottom: -50px;
        margin-left: 10px;
        
      &-prev {
       background-color: $cold-steel;  
       border: none;
       border-radius: 50%;  
       width: 40px;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;
       margin-right: 10px;
      
          &-img {
            filter: brightness(0) invert(1);  
            width: 60%;
            }
      
          &:hover {
            background-color: darken($cold-steel, 100%);  
          }
        }

      &-next {
       background-color: $white;  
       border: none;
       border-radius: 50%;  
       width: 40px;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;
       margin-right: 10px;
        
      &-img {
         filter: brightness(0); 
         width: 60%;
         }
        
       &:hover {
         background-color: lighten($white, 10%);  
        }
       }

      &-author {
        display: flex;
        align-items: center;
        margin-right: 20px; 
    
        &-img {
          border-radius: 50%;
          margin-right: 10px;
        }
    
        &-name {
          font-weight: bold;
          color: $carbon;
        }
    
        &-location {
          color: $boat-anchor;
          font-size: $heading-xsmall-size;
        }
      }
     }
    }
   } 
  }    
 }        

.blog {

  &__hero {
    background-color: $alpine-goat; 
    padding: 80px 0;

    .container {
      max-height: 400px;
      max-width: 1440px;
      margin: 94px auto;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $carbon; 

      &-featured {
        font-size: $heading-small-size;
        font-family: $font-family-inter;
        letter-spacing: 3px;
        font-weight: 600;
        margin-bottom: 20px;
        color: $boat-anchor; 
      }

      &-title {
        font-size: 34px;
        font-weight: bold;
        font-family: $font-family-primary;
        line-height: $line-height-xlarge;
        margin-bottom: 15px;
        color: $cold-steel; 
        max-width: 624px;
        max-height: 96px;
      }

      &-meta {
        font-size: $heading-xsmall-size;
        color: $boat-anchor; 
        margin-bottom: 16px;
        line-height: $line-height-xxsmall;
        font-family: $font-family-inter;

        &--author {
          color: $liberty; 
        }
      }

      &-description {
        font-size: $heading-small-size;
        font-family: $font-family-inter;
        color: $boat-anchor; 
        margin-bottom: 25px;
        max-width: 624px;
        max-height: 56px;
        line-height: $line-height-small;
      }

      &-button {
        background-color: $eyelash-viper;
        color: $cold-steel;
        font-weight: bold;
        padding: 12px 24px;
        border-radius: 0;
        font-size: $heading-medium-size;
        line-height: $line-height-xsmall;
        max-width: 204px;
        max-height: 56px;

        &:hover {
          background-color: darken($eyelash-viper, 10%);
        }
      }
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;

      &-img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__posts {
    padding: 60px 0;

    &-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px;
      font-family: $font-family-primary;
      margin-left: 10px;
    }

    &-divider {
      border: none;           
      height: 1px;                
      background-color: $christmas-silver;  
      margin-bottom: 64px; 
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 40px; 

      &-item {
        display: flex;
        align-items: flex-start; 
        max-width: 1146px;
        max-height: 318px;
        margin-bottom: 20px;

        &-image {
          width: 40%;
          height: auto;
          margin-right: 32px;
        }

        &-content {
          margin-top: 55px;
          width: 100%;

          &-category {
            font-size: $heading-small-size;
            font-weight: bold;
            color: $liberty; 
            margin-bottom: 20px;
            text-transform: uppercase;
            font-family: $font-family-inter;
            line-height: $line-height-xxsmall;
          }

          &-title {
            font-size: 30px;
            font-weight: bold;
            color: $cold-steel;
            margin-bottom: 12px;
            line-height: $line-height-xlarge;
            font-family: $font-family-primary;
            max-width: 602px;
            max-height: 96px;
          }

          &-description {
            font-size: 15px;
            line-height: $line-height-small;
            color: $boat-anchor;
            font-family: $font-family-inter;
            max-width: 624px;
            max-height: 56px;
          }
        }
      }
    }

    &-pagination {
      text-align: center;
      margin-top: 40px;

      &-prev {
        color: $granite-canyon; 
        text-decoration: none;
        margin: 0 10px;
        font-size: $heading-large-size;
        line-height: $line-height-medium;
        font-family: $font-family-primary;
        
        &:hover {
          text-decoration: underline;
        }
      }

      &-next {
        color: $cold-steel; 
        text-decoration: none;
        font-weight: bold;
        margin: 0 10px;
        font-size: $heading-xlarge-size;
        line-height: $line-height-large;
        font-family: $font-family-primary;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__about {
    padding: 40px 20px;
    margin-top: -20px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  &-category {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  
    &-title {
      font-size: $heading-xxlarge-size;
      font-weight: bold;
      margin-bottom: 30px;
      text-align: left;
      padding-bottom: 48px;
      padding-left: 330px;
    }
  
    &-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
    }
  
    &-item {
      flex: 1;
      position: relative;
      padding: 20px;
      border: 1px solid $clouded-vision;
      transition: background-color 0.3s ease;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start; 
      margin-left: 32px;
     
      &:hover {
        background-color: $eyelash-viper; 
      }
      
     &-icon { 

      &--background { 
        height: 48px; 
        display: flex; 
        align-items: flex-start; 
        justify-content: flex-start; 
        position: relative; 
        top: 21%;  
        left: 20%;  
  
       &-img { 
        width: 23px;  
        position: absolute;  
        transform: translate(-50%, -50%);  
        height: auto; 
        padding-bottom: 35px; 
        left: 18%;  
        } 
       } 

       &--large {
        width: 40px;
        height: 70px;
       }
      } 
  
      &-title { 
        font-size: $heading-xlarge-size;
        font-weight: bold; 
        margin-bottom: 1px; 
        color: $carbon;  
        text-align: left; 
        padding: 10px;  
        font-family: $font-family-primary;  
        padding-left: 10px;
        line-height: $line-height-large;
      } 
  
      &-description {  
        font-size: $heading-small-size;
        color: $boat-anchor;  
        text-align: left;  
        padding-left: 10px;
        font-family: $font-family-inter;
        line-height: $line-height-small;
       }
      }
    } 
  }
}

.about{

&__hero {
  position: relative;
  background-color: $white;
  color: $cold-steel;
  padding: 200px;
  text-align: center;

  .row {
    max-width: 1133px;
    max-height: 356px;
  }

  &-content {
    z-index: 2;
    background-color: $white;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    width: 624px;
    height: 356px;
    top: 18%;
    padding: 40px 40px;

    &-title {
      font-size: $heading-small-size;
      font-family: $font-family-inter;
      line-height: $line-height-xxsmall;
      text-align: left;
      display: flex;
      padding-left: 20px;
    }

    &-description {
      font-family: $font-family-primary;
      font-size: 48px;
      line-height: 64px;
      display: flex;
      text-align: left;
      font-weight: bold;
      max-width: 496px;
      max-height: 192px;
      padding-left: 20px;
      letter-spacing: -2px;
    }
  }

  &-description {
    width: 477px;
    height: 112px;
    margin-left: 100px;
    padding-top: 150px;

    &-text {
      font-size: $heading-small-size;
      font-family: $font-family-inter;
      line-height: $line-height-small;
      text-align: left;
      display: inline-block;
    }
  }

  &-image {
    width: 200%;
    max-width: none;
    object-fit: cover;
    position: relative;
    z-index: 0; 
    width: 1280px;
    height: 444px;
    object-fit: cover;
    left: -6%;  
  }
 }

 &__stats {
  position: absolute;
  bottom: -65px; 
  left: 31%;
  transform: translateX(-50%);
  background-color: $eyelash-viper; 
  width: 630px;
  height: 156px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
 

&-number {
  font-size: 56px; 
  color: #333; 
  font-weight: bold;
  padding-top: 20px;
  text-align: left;
  line-height: 64px;
  font-family: $font-family-primary;
}

&-text {
  font-size: $heading-small-size;
  color: $carbon; 
  font-family: $font-family-inter;
  line-height: $heading-xlarge-size;
 }
}


&__posts {
  
&::before {
  content: "";
  position: absolute;
  top: 108.8%;  
  left: 52%; 
  transform: translateX(-63%); 
  height: 23px;
  width: 70%;
  max-width: 900px;
  background: linear-gradient(to left, $eyelash-viper 70%, $liberty 30%);
  z-index: 2;
}

.container {
  max-width: 1280px;
  max-height: 500px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

&-container-wrapper {
  max-width: 1280px; 
  height: 500px; 
  margin: 0 auto; 
  padding: 40px; 
  margin-top: -112px;
  position: relative;
  z-index: 0; 
  background-color: $alpine-goat;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

&-section {
  width: 48%;
  text-align: left;

  &-title {
    font-size: $heading-small-size;
    font-weight: 600;
    letter-spacing: 3px;
    color: $carbon;
    margin-bottom: 24px;
    font-family: $font-family-inter;
    margin-top: 60px;
    line-height: $line-height-xxsmall;
  }

  &-subtitle {
    font-size: $heading-xlarge-size;
    font-weight: bold;
    color: $carbon;
    font-family: $font-family-primary;
    line-height: $line-height-large;
    width: 481px;
    height: 80px;
  }

  &-description {
    font-size: $heading-small-size;
    color: $granite-canyon;
    line-height: $line-height-small;
    margin-top: 40px;
    font-family: $font-family-inter;
    width: 515px;
    height: 56px;
  }
 } 

&-mission {

  &-section  {
    width: 48%;

    &-title {
      font-size: $heading-small-size;
      font-weight: 600;
      letter-spacing: 3px;
      color: $carbon;
      margin-bottom: 24px;
      font-family: $font-family-inter;
      margin-top: 60px;
      line-height: $line-height-xxsmall;
    }

    &-subtitle {
      font-size: $heading-xlarge-size;
      font-weight: bold;
      color: $carbon;
      font-family: $font-family-primary;
      line-height: $line-height-large;
      width: 475px;
      height: 80px;
    }

    &-description {
      font-size: $heading-small-size;
      color: $granite-canyon;
      line-height: $line-height-small;
      margin-top: 40px;
      font-family: $font-family-inter;
      width: 515px;
      height: 56px;
    }
  }
}
}

&__team {
  padding: 70px 100px;

  &-content {
    padding-right: 100px;
  }

  &-title {
    font-size: $heading-xxlarge-size;
    line-height: $line-height-xlarge;
    font-family: $font-family-primary;
    font-weight: bold;
    margin-bottom: 10px;
    color: $carbon;
    text-align: left;
  }

  &-subtitle {
    font-size: $heading-large-size;
    line-height: $line-height-medium;
    font-family: $font-family-primary;
    font-weight: bold;
    margin-bottom: 20px;
    color: $cold-steel;
    text-align: left;
    max-width: 519px;
    max-height: 96px;
  }

  &-description {
    font-size: $heading-small-size;
    line-height: $line-height-small;
    font-family: $font-family-inter;
    color: $cold-steel;
    text-align: left;
    max-width: 519px;
    max-height: 140px;
  }

  &-image-wrapper {
    position: relative;
  }

  &-image {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
  }

  &-decorator {
    position: absolute;
    background-color: $eyelash-viper; 
    width: 103px;
    height: 116px;
    top: 120px;
    left: -50px;
    border-radius: 50px 0 0 0;
    }
  }

 &__talk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 300px;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-image {
    position: relative;
    width: 50%;

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

    &-decorator {
      position: absolute;
      bottom: -30px;
      left: 120px;
      width: 60px;
      height: 60px;
      background-color: $liberty; 
      border-radius: 50%;
    }
  
  &-content {
    width: 45%;
    padding-left: 40px;

    &-title {
      font-size: $heading-xxlarge-size;
      font-family: $font-family-primary;
      line-height: $line-height-xlarge;
      font-weight: 700;
      margin-bottom: 20px;
      color: $cold-steel;
      letter-spacing: -1px;
    }

    &-subtitle {
      font-size: $heading-large-size;
      font-family: $font-family-primary;
      line-height: $line-height-medium;
      font-weight: 700;
      margin-bottom: 10px;
      color: $carbon;
      max-width: 511px;
      max-height: 96px;
    }

    &-description {
      font-size: $heading-small-size;
      font-family: $font-family-inter;
      line-height: $line-height-small;
      color: $cold-steel;
      font-weight: 400;
      max-width: 519px;
      max-height: 140px;
    }
  }
}
}

.contact {

  &__hero {

    .container {
      display: flex;
      align-items: center;
      padding: 200px;
    }

    .row{
      align-items: center;
      justify-content: center;
      width: 768px;
      height: 282px;
      padding-left: 100px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

    &-title {
      font-size: $heading-xlarge-size;
      line-height: $line-height-large;
      font-family: $font-family-primary;
      color: $royalty;
      white-space: nowrap;
      font-weight: bold;
      margin-left: 40px;
      letter-spacing: -1px;
      margin-bottom: -5px;
      max-width: 188px;
      max-height: 40px;
      margin-top: -50px;
    }

    &-date {
      font-size: $heading-small-size;
      line-height: $line-height-small;
      font-family: $font-family-inter;
      color: $granite-canyon;
      margin-bottom: 20px;
      margin-left: 40px;
      max-width: 224px;
      max-height: 28px;
    }

    &-subtitle {
      font-size: 48px;
      font-family: $font-family-primary;
      line-height: 64px;
      font-weight: 700;
      color: $cold-steel;
      letter-spacing: -2px;
      max-width: 768px;
      max-height: 128px;
      margin-left: -20px;
     }

    &-tag {
      font-size: $heading-large-size;
      line-height: $line-height-medium;
      font-family: $font-family-primary;
      color: $cold-steel;
      white-space: nowrap;
      font-weight: 700;
      max-width: 88px;
      max-height: 32px; 
      margin-left: -20px;
      margin-top: 20px;
    }

    &-image {
      max-width: 48px;
      height: 48px;
      border-radius: 10px;
      margin-left: -20px;
      margin-top: 20px;
    }
  }

  &-image-main{
    width: 100%;
    max-width: 1280px;
    height: auto;
    margin-left: 300px;
  }
 }

 &__posts{
  padding: 40px 20px;
  background-color: $white;
  margin-bottom: 300px;
  
  &-title {
    font-size: $heading-xxlarge-size;
    font-weight: bold;
    line-height: $line-height-xlarge;
    margin-bottom: 20px;
    font-family: $font-family-primary;
    letter-spacing: -2px;
  }

  &-text {
    font-size: $heading-small-size;
    line-height: $line-height-small;
    margin-bottom: 30px;
    font-family: $font-family-inter;
    color: $boat-anchor;
    max-width: 843px;
    max-height: 112px;
  }

  &-list {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: -10px;
    margin-top: 50px;
 
    
    &-text {
      font-size: $heading-large-size;
      line-height: $line-height-medium;
      font-family: $font-family-primary;
      font-weight: 700;
      color: $river-styx;
      margin-bottom: 10px;
    }
  }

  &-item {
    margin-bottom: 40px;
    padding: 20px 0;
  }

  .container {
    max-width: 843px;
    max-height: 1164px;
    margin: 0 auto;
  }
 }

 &__read-next{
  width: 1200px;
  height: auto;
  align-items: center;  
  justify-content: center;
  margin-left: 350px;
  padding-bottom: 40px;
  border-bottom: 1px solid $clouded-vision;
  
  &-title {
    font-size: $heading-xxlarge-size;
    line-height: $line-height-xlarge;
    font-weight: bold;
    margin-bottom: 50px;
    font-family: $font-family-primary;
    letter-spacing: -1px;
  }

  &-card {
    margin-bottom: 20px;
  }

  &-image {
    width: 100%;
    margin-bottom: 20px;
  }

  &-content {
    text-align: left;
  }

  &-author {
    font-size: $heading-xsmall-size;
    font-family: $font-family-inter;
    line-height: $line-height-xxsmall;
    color: $boat-anchor;
    margin-bottom: 10px;

    &--highlight{
      color: $liberty;
    }
  }

  &-post-title {
    font-size: 26px;
    font-family: $font-family-primary;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: $line-height-large;
    max-width: 405px;
    max-height: 120px;
  }

  &-description {
    font-size: $heading-xsmall-size;
    line-height: $line-height-small;
    font-family: $font-family-inter;
    color: $boat-anchor;
    max-width: 405px;
    max-height: 84px;
  }
 }
}


.scroll-up-btn {
  display: none; 
  position: fixed;
  bottom: 30px; 
  right: 30px; 
  z-index: 99;
  font-size: $heading-medium-size;
  background-color: $carbon;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%; 
  opacity: 0.7;
  transition: opacity 0.3s;
  width: 50px; 
  height: 50px;
  text-align: center; 
  line-height: $line-height-xxsmall;
}

.scroll-up-btn:hover {
  opacity: 1; 
}

:where(.dark-mode) {
  $dark-bg: #1c1c1e;
  $dark-text: #f1f1f1;
  $dark-card-bg: #2c2c2e;
  $dark-border: #444;

  body {
    background-color: $dark-bg !important;
    color: $dark-text !important;
  }

  .page__header,
  .page__navbar {
    background-color: $dark-bg !important;
    color: $dark-text !important;
  }

  .page__navbar-link {
    color: $dark-text !important;
    &:hover {
      color: lighten($dark-text, 10%);
    }
  }

  .page__navbar-button {
    background-color: $dark-card-bg;
    color: $dark-text;
  }

  .about__hero,
  .about__posts,
  .about__team,
  .contact__hero {
    background-color: $dark-bg;
    color: $dark-text;
  }

  .about__stats {
    background-color: $dark-card-bg;
    border-color: $dark-border;
  }

  .about__posts-section {
    background-color: $dark-card-bg;
    border-color: $dark-border;
  }

  .about__posts-section-title,
  .about__posts-section-description {
    color: $dark-text;
  }
}