@charset "UTF-8";
.page__header {
  background-color: #232536;
  color: #FFFFFF;
}
.page__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: #232536 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__navbar-brand {
  font-size: 24px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  margin-left: 83px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.page__navbar-brand-bracket {
  font-size: 24px;
  margin-top: -5px;
}
.page__navbar-brand-name {
  font-size: 24px;
  font-weight: bold;
  padding-left: 2px;
}
.page__navbar-nav {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.page__navbar-item {
  margin: 0 10px;
}
.page__navbar-link {
  color: #FFFFFF !important;
  font-size: 16px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
}
.page__navbar-link:hover {
  color: #FFFFFF;
}
.page__navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 179px;
  height: 56px;
  padding: 16px 48px;
  border: none;
  cursor: pointer;
  opacity: 1;
  text-align: center;
  border-radius: 0;
  position: relative;
  right: 0;
  margin-left: 32px;
}
.page__navbar-button:hover {
  background-color: #e6e6e6;
}
.page__navbar-text {
  color: #333333;
  font-size: 18px;
  font-family: "Sen", sans-serif;
  line-height: 24px;
}
.page__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  max-width: 1280px;
  max-height: 324px;
  margin: 0 auto;
}
.page__category-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
.page__category-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.page__category-item {
  flex: 1;
  position: relative;
  padding: 20px;
  border: 1px solid #d1d1d1;
  transition: background-color 0.3s ease;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 32px;
}
.page__category-item:hover {
  background-color: #f3c84b;
}
.page__category-item-icon--background {
  height: 48px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top: 20%;
  left: 20%;
}
.page__category-item-icon--background-img {
  width: 23px;
  position: absolute;
  transform: translate(-50%, -50%);
  height: auto;
  padding-bottom: 35px;
  left: 19%;
}
.page__category-item-icon--large {
  width: 40px;
  height: 70px;
}
.page__category-item-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1px;
  text-align: left;
  padding: 10px;
  font-family: "Sen", sans-serif;
  padding-left: 10px;
  line-height: 40px;
}
.page__category-item-description {
  font-size: 16px;
  color: #6b6b6b;
  text-align: left;
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  line-height: 28px;
}
.page__authors {
  padding-top: 100px;
  text-align: center;
}
.page__authors-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}
.page__authors-item {
  background-color: #f1f0ed;
  padding: 50px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 0px;
  max-width: 296px;
  max-height: 324px;
}
.page__authors-item:hover {
  background-color: #fbf6ea;
}
.page__authors-item-img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: -10px;
}
.page__authors-item-name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 40px;
  font-family: "Sen", sans-serif;
  white-space: nowrap;
}
.page__authors-item-title {
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page__authors-item-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.page__authors-item-social-img {
  width: 16px;
  height: 16px;
}
.page__join {
  padding: 128px 0;
  background-color: #FFFFFF;
  max-width: 414px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page__join-title {
  font-size: 32px;
  font-weight: bold;
  font-family: "Sen", sans-serif;
  margin-bottom: 24px;
  flex-direction: column;
  max-height: 96px;
}
.page__join-text {
  font-size: 16px;
  color: #6d6e76;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  margin-bottom: 32px;
  flex-direction: column;
}
.page__join-button {
  padding: 16px;
  width: 174px;
  height: 56px;
  margin: 0 auto;
  border-radius: 0;
  transition: background-color 0.3s ease;
  background-color: #f3c84b;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.page__join-button:hover {
  background-color: #f0b91b;
}
.page__join-button-link {
  font-size: 16px;
  font-weight: bold;
  flex-direction: column;
  line-height: 24px;
}
.page__newsletter {
  background-color: #232536;
  padding: 40px 20px;
  color: #FFFFFF;
  position: relative;
  width: 1440px;
  height: 560px;
  width: 100%;
}
.page__newsletter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 54px;
}
.page__newsletter-header-bracket {
  font-size: 28px;
  color: #FFFFFF;
  left: 10.4%;
  position: relative;
}
.page__newsletter-header-name {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin-left: -765px;
}
.page__newsletter-header-nav {
  display: flex;
  gap: 20px;
  margin-right: 190px;
}
.page__newsletter-header-nav-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 28px;
}
.page__newsletter-header-nav-link:hover {
  text-decoration: underline;
}
.page__newsletter-content {
  background-color: rgba(76, 76, 76, 0.4941176471);
  padding: 0px 80px;
  width: 1280px;
  height: 256px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 170px;
  width: 80%;
}
.page__newsletter-content-title {
  font-size: 36px;
  line-height: 48px;
  font-family: "Sen", sans-serif;
  letter-spacing: -2px;
  font-weight: bold;
  max-width: 562px;
  max-height: 96px;
}
.page__newsletter-content-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.page__newsletter-content-form-input {
  padding: 15px;
  border: 1px solid #6d6e76;
  border-radius: 0px;
  width: 300px;
  color: #333333;
  background-color: rgba(76, 76, 76, 0.4941176471);
}
.page__newsletter-content-form-button {
  background-color: #f3c84b;
  border: none;
  padding: 15px 30px;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.page__newsletter-content-form-button:hover {
  background-color: #f0b91b;
}
.page__newsletter-footer {
  position: relative;
  color: #d1d1d1;
}
.page__newsletter-footer-address {
  position: absolute;
  left: 170px;
  bottom: -80px;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 28px;
}
.page__newsletter-footer-contact {
  position: absolute;
  left: 170px;
  bottom: -110px;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 28px;
}
.page__newsletter-footer-social {
  position: absolute;
  right: 175px;
  bottom: -90px;
  display: flex;
  gap: 26px;
  margin-right: 20px;
}
.page__newsletter-footer-social-icon {
  width: 16px;
  height: 16px;
  filter: brightness(0) invert(1);
  opacity: 0.7;
  transition: filter 0.3s ease, opacity 0.3s ease;
}
.page__newsletter-footer-social-icon:hover {
  filter: brightness(0) invert(1);
}

.home__hero {
  position: relative;
  width: 1440px;
  width: 100%;
  height: 1300px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -150px;
}
.home__hero-image {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 1000px;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}
.home__hero-content {
  max-width: 804px;
  margin-left: 100px;
  margin-top: -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #FFFFFF;
  z-index: 2;
  position: relative;
}
.home__hero-content-category {
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  letter-spacing: 3px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.home__hero-content-category--highlight {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
  color: #FFFFFF;
}
.home__hero-content-title {
  font-size: 60px;
  font-weight: 700;
  width: 900px;
  height: 128px;
  line-height: 64px;
  margin-bottom: 30px;
  font-family: "Sen", sans-serif;
  color: #FFFFFF;
}
.home__hero-content-author {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.home__hero-content-author--color {
  color: #f3c84b;
}
.home__hero-content-description {
  font-size: 16px;
  line-height: 28px;
  width: 610px;
  height: 56px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.home__hero-content-button {
  background-color: #f3c84b;
  border: none;
  width: 204px;
  height: 56px;
  padding: 16px 48px;
  position: relative;
  gap: 12px;
  opacity: 1;
  color: #333333;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
.home__hero-content-button:hover {
  background-color: #f0b91b;
}
.home__posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1282px;
  margin: 0 auto;
  padding: 128px 20px;
  max-height: 804px;
}
.home__posts-featured {
  flex: 1 1 60%;
  margin-right: 32px;
}
.home__posts-featured-image-container {
  position: relative;
}
.home__posts-featured-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Sen", sans-serif;
  line-height: 48px;
  margin-bottom: 32px;
}
.home__posts-featured-content {
  padding: 32px;
  border-radius: 1px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.0666666667);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home__posts-featured-content-image {
  width: 100%;
}
.home__posts-featured-content-meta {
  font-size: 14px;
  color: #6b6b6b;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  margin-bottom: 16px;
  margin-top: 28px;
}
.home__posts-featured-content-meta--author {
  font-family: "Inter", sans-serif;
  color: #5a4999 !important;
  font-size: 14px;
  line-height: 20px;
}
.home__posts-featured-content-title {
  font-size: 28px;
  font-weight: bold;
  font-family: "Sen", sans-serif;
  line-height: 40px;
  margin-bottom: 16px;
}
.home__posts-featured-content-description {
  font-size: 16px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: #6d6e76;
  margin-bottom: 28px;
  width: 551px;
  height: 56px;
}
.home__posts-featured-content-button {
  background-color: #f3c84b;
  border: none;
  width: 204px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0;
  font-family: "Sen", sans-serif;
  color: #333333;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  left: 0;
  text-align: left;
}
.home__posts-featured-content-button:hover {
  background-color: #f0b91b;
}
.home__posts-list {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 517px;
  height: 804px;
}
.home__posts-list-title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Sen", sans-serif;
  line-height: 48px;
  padding-bottom: 32px;
}
.home__posts-list-view-all {
  font-size: 16px;
  color: #5a4999;
  text-decoration: none;
  line-height: 28px;
  align-self: flex-end;
  position: absolute;
  margin-top: 11px;
  cursor: pointer;
}
.home__posts-list-view-all:hover {
  text-decoration: underline;
}
.home__posts-list-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.home__posts-list-items-item {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0;
  transition: background-color 0.3s ease;
}
.home__posts-list-items-item:hover {
  background-color: #fbf6ea;
}
.home__posts-list-items-item-meta {
  font-size: 14px;
  color: #6b6b6b;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  margin-bottom: 8px;
  margin-left: 32px;
  margin-top: 32px;
}
.home__posts-list-items-item-meta-author {
  color: #5a4999;
}
.home__posts-list-items-item-text {
  width: 360px;
  height: 96px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  font-family: "Sen", sans-serif;
  margin-left: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.home__about {
  padding: 40px 20px;
  padding-top: 300px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.home__about::before {
  content: "";
  position: absolute;
  top: 256px;
  left: 63%;
  transform: translateX(-63%);
  height: 23px;
  width: 70%;
  max-width: 1061px;
  background: linear-gradient(to right, #f3c84b 70%, #5a4999 30%);
}
.home__about .container {
  max-width: 1280px;
  max-height: 500px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.home__about-container-wrapper {
  width: 1280px;
  height: 500px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  top: -20px;
  z-index: 0;
  background-color: #f4f0f8;
}
.home__about .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.home__about-section {
  width: 48%;
  text-align: left;
}
.home__about-section-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  margin-top: 60px;
  line-height: 20px;
}
.home__about-section-subtitle {
  font-size: 35.5px;
  font-weight: bold;
  font-family: "Sen", sans-serif;
  line-height: 48px;
  width: 496px;
  height: 144px;
  letter-spacing: -1px;
}
.home__about-section-description {
  font-size: 16px;
  color: #6d6e76;
  line-height: 28px;
  margin-bottom: 16px;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  width: 515px;
  height: 56px;
}
.home__about-section-link {
  font-size: 18px;
  color: #5a4999;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}
.home__about-section-link:hover {
  text-decoration: underline;
}
.home__about-mission-section {
  width: 48%;
}
.home__about-mission-section-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  margin-top: 60px;
  line-height: 20px;
}
.home__about-mission-section-subtitle {
  font-size: 28px;
  font-weight: bold;
  font-family: "Sen", sans-serif;
  line-height: 40px;
  width: 470px;
  height: 80px;
  letter-spacing: -1px;
}
.home__about-mission-section-description {
  font-size: 16px;
  color: #6d6e76;
  line-height: 28px;
  margin-bottom: 16px;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  width: 516px;
  height: 108.73px;
}
.home__about-story {
  position: relative;
  padding: 200px 0;
}
.home__about-story .container {
  position: relative;
  z-index: 2;
  max-width: 1280px;
}
.home__about-story-image {
  width: 75%;
  height: auto;
  z-index: 1;
  right: 90px;
}
.home__about-story-content {
  position: absolute;
  z-index: 2;
  background: #FFFFFF;
  padding: 100px;
  max-width: 706px;
  bottom: -45%;
  right: -10px;
  padding-left: 50px;
}
.home__about-story-content-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
}
.home__about-story-content-subtitle {
  font-size: 46px;
  font-family: "Sen", sans-serif;
  line-height: 64px;
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 546px;
}
.home__about-story-content-description {
  font-size: 16px;
  color: #6b6b6b;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  line-height: 28px;
}
.home__about-story-content-button {
  background-color: #f3c84b;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  text-align: center;
  border-radius: 0;
  line-height: 24px;
  cursor: pointer;
}
.home__about-story-content-button:hover {
  background-color: #f0b91b;
  color: #333333;
}
.home__about-featured {
  padding: 80px 0;
  background-color: #FFFFFF;
  text-align: left;
}
.home__about-featured-title {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  align-items: flex-start;
  padding-left: 17%;
}
.home__about-featured-title-line-first {
  padding-top: 10px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  color: #6d6e76;
}
.home__about-featured-title-line-second {
  font-size: 24px;
  line-height: 32px;
  font-family: "Sen", sans-serif;
  color: #6d6e76;
}
.home__about-featured-logos {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: -35px;
  padding-left: 200px;
}
.home__about-featured-logos-img {
  width: auto;
  height: 32px;
  opacity: 0.7;
  filter: grayscale(30%);
  transition: opacity 0.3s ease, filter 0.3s ease;
}
.home__about-featured-logos-img:hover {
  opacity: 1;
  filter: grayscale(0%);
}
.home__about-testimonials {
  margin: 0 auto;
  padding-top: 70px;
  background-color: #fbf6ea;
  width: 1280px;
  height: 464px;
}
.home__about-testimonials-text {
  max-width: 349px;
  max-height: 200px;
  padding-left: 80px;
}
.home__about-testimonials-text::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: -10px;
  right: 10px;
  height: 310px;
  width: 0.2px;
  background-color: #6d6e76;
}
.home__about-testimonials-text-heading {
  font-size: 16px;
  letter-spacing: 3px;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
}
.home__about-testimonials-text-subheading {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 12px;
  width: 345px;
  height: 96px;
  font-family: "Sen", sans-serif;
  line-height: 48px;
}
.home__about-testimonials-text-description {
  font-size: 16px;
  color: #6b6b6b;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  margin-top: 20px;
  width: 349px;
  height: 56px;
}
.home__about-testimonials-item {
  margin-left: 100px;
  height: 310px;
  width: 532px;
}
.home__about-testimonials-item-intro {
  font-size: 24px;
  font-family: "Sen", sans-serif;
  width: 460px;
  height: 128px;
  font-weight: bold;
  line-height: 32px;
}
.home__about-testimonials-nav {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-left: 10px;
  max-width: 518px;
  max-height: 62px;
}
.home__about-testimonials-nav-prev {
  background-color: #121212;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}
.home__about-testimonials-nav-prev-img {
  filter: brightness(0) invert(1);
  width: 60%;
}
.home__about-testimonials-nav-prev:hover {
  background-color: black;
}
.home__about-testimonials-nav-next {
  background-color: #FFFFFF;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 220px;
}
.home__about-testimonials-nav-next-img {
  filter: brightness(0);
  width: 60%;
}
.home__about-testimonials-nav-next:hover {
  background-color: white;
}
.home__about-testimonials-nav-author {
  display: flex;
  align-items: center;
}
.home__about-testimonials-nav-author-img {
  border-radius: 50%;
  margin-right: 10px;
}
.home__about-testimonials-nav-author-name {
  font-weight: bold;
  white-space: nowrap;
}
.home__about-testimonials-nav-author-location {
  color: #6b6b6b;
  font-size: 14px;
}

.blog__hero {
  background-color: #f4f0f8;
  padding: 80px 0;
}
.blog__hero .container {
  max-height: 400px;
  max-width: 1440px;
  margin: 94px auto;
}
.blog__hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333333;
}
.blog__hero-content-featured {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #6b6b6b;
}
.blog__hero-content-title {
  font-size: 34px;
  font-weight: bold;
  font-family: "Sen", sans-serif;
  line-height: 48px;
  margin-bottom: 15px;
  max-width: 624px;
  max-height: 96px;
}
.blog__hero-content-meta {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}
.blog__hero-content-meta--author {
  color: #5a4999;
}
.blog__hero-content-description {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #6b6b6b;
  margin-bottom: 25px;
  max-width: 624px;
  max-height: 56px;
  line-height: 28px;
}
.blog__hero-content-button {
  background-color: #f3c84b;
  color: #232536;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 0;
  font-size: 18px;
  line-height: 24px;
  max-width: 204px;
  max-height: 56px;
}
.blog__hero-content-button:hover {
  background-color: #f0b91b;
}
.blog__hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__hero-image-img {
  max-width: 100%;
  height: auto;
}
.blog__posts {
  padding: 60px 0;
}
.blog__posts-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "Sen", sans-serif;
  margin-left: 10px;
}
.blog__posts-divider {
  border: none;
  height: 1px;
  background-color: #e0e0e0;
  margin-bottom: 64px;
}
.blog__posts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.blog__posts-list-item {
  display: flex;
  align-items: flex-start;
  max-width: 1146px;
  max-height: 318px;
  margin-bottom: 20px;
}
.blog__posts-list-item-image {
  width: 40%;
  height: auto;
  margin-right: 32px;
}
.blog__posts-list-item-content {
  margin-top: 55px;
  width: 100%;
}
.blog__posts-list-item-content-category {
  font-size: 16px;
  font-weight: bold;
  color: #5a4999;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  line-height: 20px;
}
.blog__posts-list-item-content-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 48px;
  font-family: "Sen", sans-serif;
  max-width: 602px;
  max-height: 96px;
}
.blog__posts-list-item-content-description {
  font-size: 15px;
  line-height: 28px;
  color: #6b6b6b;
  font-family: "Inter", sans-serif;
  max-width: 624px;
  max-height: 56px;
}
.blog__posts-pagination {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 800px;
  display: inline-block;
}
.blog__posts-pagination-prev {
  display: inline;
  color: #6d6e76;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
  line-height: 32px;
  font-family: "Sen", sans-serif;
}
.blog__posts-pagination-next {
  display: inline;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  font-size: 28px;
  line-height: 40px;
  font-family: "Sen", sans-serif;
}
.blog__about {
  padding: 40px 20px;
  margin-top: -20px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.blog__about-category {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.blog__about-category-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
  padding-bottom: 48px;
  padding-left: 330px;
}
.blog__about-category-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.blog__about-category-item {
  flex: 1;
  position: relative;
  padding: 20px;
  border: 1px solid #d1d1d1;
  transition: background-color 0.3s ease;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 32px;
}
.blog__about-category-item:hover {
  background-color: #f3c84b;
}
.blog__about-category-item-icon--background {
  height: 48px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  top: 21%;
  left: 20%;
}
.blog__about-category-item-icon--background-img {
  width: 23px;
  position: absolute;
  transform: translate(-50%, -50%);
  height: auto;
  padding-bottom: 35px;
  left: 18%;
}
.blog__about-category-item-icon--large {
  width: 40px;
  height: 70px;
}
.blog__about-category-item-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1px;
  text-align: left;
  padding: 10px;
  font-family: "Sen", sans-serif;
  padding-left: 10px;
  line-height: 40px;
}
.blog__about-category-item-description {
  font-size: 16px;
  color: #6b6b6b;
  text-align: left;
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  line-height: 28px;
}

.about__hero {
  position: relative;
  background-color: #FFFFFF;
  color: #232536;
  padding: 200px;
  text-align: center;
}
.about__hero .row {
  max-width: 1133px;
  max-height: 356px;
}
.about__hero-content {
  z-index: 2;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
  width: 624px;
  height: 356px;
  top: 18%;
  padding: 40px 40px;
}
.about__hero-content-title {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  text-align: left;
  display: flex;
  padding-left: 20px;
}
.about__hero-content-description {
  font-family: "Sen", sans-serif;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  text-align: left;
  font-weight: bold;
  max-width: 496px;
  max-height: 192px;
  padding-left: 20px;
  letter-spacing: -2px;
}
.about__hero-description {
  width: 477px;
  height: 112px;
  margin-left: 100px;
  padding-top: 150px;
}
.about__hero-description-text {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  text-align: left;
  display: inline-block;
}
.about__hero-image {
  width: 200%;
  max-width: none;
  object-fit: cover;
  position: relative;
  z-index: 0;
  width: 1280px;
  height: 444px;
  object-fit: cover;
  left: -6%;
}
.about__stats {
  position: absolute;
  bottom: -65px;
  left: 31%;
  transform: translateX(-50%);
  background-color: #f3c84b;
  width: 630px;
  height: 156px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.about__stats-number {
  font-size: 56px;
  color: #333;
  font-weight: bold;
  padding-top: 20px;
  text-align: left;
  line-height: 64px;
  font-family: "Sen", sans-serif;
}
.about__stats-text {
  font-size: 16px;
  color: #333333;
  font-family: "Inter", sans-serif;
  line-height: 28px;
}
.about__posts::before {
  content: "";
  position: absolute;
  top: 108.8%;
  left: 52%;
  transform: translateX(-63%);
  height: 23px;
  width: 70%;
  max-width: 900px;
  background: linear-gradient(to left, #f3c84b 70%, #5a4999 30%);
  z-index: 2;
}
.about__posts .container {
  max-width: 1280px;
  max-height: 500px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about__posts-container-wrapper {
  max-width: 1280px;
  height: 500px;
  margin: 0 auto;
  padding: 40px;
  margin-top: -112px;
  position: relative;
  z-index: 0;
  background-color: #f4f0f8;
}
.about__posts .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about__posts-section {
  width: 48%;
  text-align: left;
}
.about__posts-section-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  margin-top: 60px;
  line-height: 20px;
}
.about__posts-section-subtitle {
  font-size: 28px;
  font-weight: bold;
  font-family: "Sen", sans-serif;
  line-height: 40px;
  width: 481px;
  height: 80px;
}
.about__posts-section-description {
  font-size: 16px;
  color: #6d6e76;
  line-height: 28px;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  width: 515px;
  height: 56px;
}
.about__posts-mission-section {
  width: 48%;
}
.about__posts-mission-section-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  margin-top: 60px;
  line-height: 20px;
}
.about__posts-mission-section-subtitle {
  font-size: 28px;
  font-weight: bold;
  font-family: "Sen", sans-serif;
  line-height: 40px;
  width: 475px;
  height: 80px;
}
.about__posts-mission-section-description {
  font-size: 16px;
  color: #6d6e76;
  line-height: 28px;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  width: 515px;
  height: 56px;
}
.about__team {
  padding: 70px 100px;
}
.about__team-content {
  padding-right: 100px;
}
.about__team-title {
  font-size: 36px;
  line-height: 48px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}
.about__team-subtitle {
  font-size: 24px;
  line-height: 32px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  max-width: 519px;
  max-height: 96px;
}
.about__team-description {
  font-size: 16px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  text-align: left;
  max-width: 519px;
  max-height: 140px;
}
.about__team-image-wrapper {
  position: relative;
}
.about__team-image {
  max-width: 100%;
  height: auto;
  border-radius: 0px;
}
.about__team-decorator {
  position: absolute;
  background-color: #f3c84b;
  width: 103px;
  height: 116px;
  top: 120px;
  left: -50px;
  border-radius: 50px 0 0 0;
}
.about__talk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 300px;
}
.about__talk-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about__talk-image {
  position: relative;
  width: 50%;
}
.about__talk-image-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.about__talk-decorator {
  position: absolute;
  bottom: -30px;
  left: 120px;
  width: 60px;
  height: 60px;
  background-color: #5a4999;
  border-radius: 50%;
}
.about__talk-content {
  width: 45%;
  padding-left: 40px;
}
.about__talk-content-title {
  font-size: 36px;
  font-family: "Sen", sans-serif;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -1px;
}
.about__talk-content-subtitle {
  font-size: 24px;
  font-family: "Sen", sans-serif;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  max-width: 511px;
  max-height: 96px;
}
.about__talk-content-description {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  font-weight: 400;
  max-width: 519px;
  max-height: 140px;
}

.contact__hero {
  position: relative;
}
.contact__hero .container {
  display: flex;
  align-items: center;
  padding: 200px;
}
.contact__hero .row {
  align-items: center;
  justify-content: center;
  width: 768px;
  height: 282px;
  padding-left: 100px;
}
.contact__hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__hero-content-title {
  font-size: 28px;
  line-height: 40px;
  font-family: "Sen", sans-serif;
  color: #592ea9;
  white-space: nowrap;
  font-weight: bold;
  margin-left: 40px;
  letter-spacing: -1px;
  margin-bottom: -5px;
  max-width: 188px;
  max-height: 40px;
  margin-top: -50px;
}
.contact__hero-content-date {
  font-size: 16px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: #6d6e76;
  margin-bottom: 20px;
  margin-left: 40px;
  max-width: 224px;
  max-height: 28px;
}
.contact__hero-content-subtitle {
  font-size: 48px;
  font-family: "Sen", sans-serif;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -2px;
  max-width: 768px;
  max-height: 128px;
  margin-left: -20px;
}
.contact__hero-content-tag {
  font-size: 24px;
  line-height: 32px;
  font-family: "Sen", sans-serif;
  white-space: nowrap;
  font-weight: 700;
  max-width: 88px;
  max-height: 32px;
  margin-left: -20px;
  margin-top: 20px;
}
.contact__hero-content-image {
  max-width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-left: -20px;
  margin-top: 20px;
}
.contact__hero-image-main {
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin-left: 300px;
}
.contact__hero-indicators {
  position: absolute;
  bottom: -25px;
  left: 35%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}
.contact__hero-indicators li {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.contact__hero-indicators li.active {
  background-color: #333;
}
.contact__hero-control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 13.5%;
  margin-bottom: -100px;
}
.contact__hero-control-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.contact__hero-control-prev .contact__hero-control-icon {
  width: 20px;
  height: 20px;
}
.contact__hero-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 14.6%;
}
.contact__hero-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.contact__hero-control-next .contact__hero-control-icon {
  width: 20px;
  height: 20px;
}
.contact__posts {
  padding: 40px 20px;
  background-color: #FFFFFF;
  margin-bottom: 300px;
}
.contact__posts-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 20px;
  font-family: "Sen", sans-serif;
  letter-spacing: -2px;
}
.contact__posts-text {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  color: #6b6b6b;
  max-width: 843px;
  max-height: 112px;
}
.contact__posts-list {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: -10px;
  margin-top: 50px;
}
.contact__posts-list-text {
  font-size: 24px;
  line-height: 32px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  color: #161722;
  margin-bottom: 10px;
}
.contact__posts-item {
  margin-bottom: 40px;
  padding: 20px 0;
}
.contact__posts .container {
  max-width: 843px;
  max-height: 1164px;
  margin: 0 auto;
}
.contact__read-next {
  width: 1200px;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-left: 350px;
  padding-bottom: 40px;
  border-bottom: 1px solid #d1d1d1;
}
.contact__read-next-title {
  font-size: 36px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 50px;
  font-family: "Sen", sans-serif;
  letter-spacing: -1px;
}
.contact__read-next-card {
  margin-bottom: 20px;
}
.contact__read-next-image {
  width: 100%;
  margin-bottom: 20px;
}
.contact__read-next-content {
  text-align: left;
}
.contact__read-next-author {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  color: #6b6b6b;
  margin-bottom: 10px;
}
.contact__read-next-author--highlight {
  color: #5a4999;
}
.contact__read-next-post-title {
  font-size: 26px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 40px;
  max-width: 405px;
  max-height: 120px;
}
.contact__read-next-description {
  font-size: 14px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: #6b6b6b;
  max-width: 405px;
  max-height: 84px;
}

.scroll-up-btn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 4;
  font-size: 18px;
  background-color: #f3c84b;
  color: #FFFFFF;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  opacity: 0.7;
  transition: opacity 0.3s;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 20px;
}

.scroll-up-btn:hover {
  opacity: 1;
}

.scroll-up-btn:focus {
  outline: none;
}

/* Menü Toggle Butonu (Hamburger Menu Icon) */
.menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.menu-toggle:focus {
  outline: none;
}
.menu-toggle-icon {
  width: 30px;
  height: 3px;
  background-color: #FFFFFF;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}

/* Mobil Menü */
.menu-mobile {
  position: fixed;
  top: 80px;
  right: 0;
  width: 200px;
  height: auto;
  background-color: #232536;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* Menü Kapatma Butonu */
  /* Menü İçeriği */
  /* Menü Aktifken Görüntülenir */
}
.menu-mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  cursor: pointer;
}
.menu-mobile-close-btn:focus {
  outline: none;
}
.menu-mobile-nav {
  width: 100%;
}
.menu-mobile-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.menu-mobile-item {
  margin: 20px 0;
}
.menu-mobile-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}
.menu-mobile-link:hover {
  color: white;
}
.menu-mobile-dark-mode-btn {
  background-color: #FFFFFF;
  color: #232536;
  border: none;
  padding: 10px 20px;
}
.menu-mobile-dark-mode-btn:focus {
  outline: none;
}
.menu-mobile.active {
  transform: translateX(0);
}

/* Media Sorgusu: Menü 1000px altındaki ekranlar için gösterilir */
@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}
body.dark-mode {
  background-color: #2c2d40;
  color: #FFFFFF;
}
body.dark-mode .home__posts-featured-content-description,
body.dark-mode .home__about-section-description,
body.dark-mode .home__about-mission-section-description,
body.dark-mode .blog__hero-content-description,
body.dark-mode .contact__posts-text,
body.dark-mode .page__newsletter-footer-address,
body.dark-mode .page__newsletter-footer-contact,
body.dark-mode .page__navbar-text,
body.dark-mode .home__about-story-content-description,
body.dark-mode .home__about-testimonials-text-description,
body.dark-mode .page__join-text,
body.dark-mode .home__posts-list-items-item-text,
body.dark-mode .home__posts-list-items-item-meta,
body.dark-mode .home__posts-featured-content-meta,
body.dark-mode .blog__posts-pagination-prev,
body.dark-mode .blog__posts-list-item-content-description,
body.dark-mode .contact__hero-content-date,
body.dark-mode .contact__read-next-description,
body.dark-mode .contact__read-next-author {
  color: #FFFFFF;
}
body.dark-mode .home__about-container-wrapper,
body.dark-mode .home__about-story-content,
body.dark-mode .home__about-testimonials,
body.dark-mode .blog__hero,
body.dark-mode .about__hero-content,
body.dark-mode .about__posts-container-wrapper,
body.dark-mode .blog__hero-content-title,
body.dark-mode .blog__hero-content-meta,
body.dark-mode .blog__hero-content-featured,
body.dark-mode .about__posts-mission-section-description,
body.dark-mode .about__posts-section-description {
  background-color: #232536;
  color: #FFFFFF;
}
body.dark-mode .page__join,
body.dark-mode .home__about-featured,
body.dark-mode .contact__posts,
body.dark-mode .contact__posts-list-text,
body.dark-mode .dark-mode-btn,
body.dark-mode .about__hero,
body.dark-mode .menu-toggle-icon {
  background-color: #2c2d40;
  color: #FFFFFF;
}
body.dark-mode .home__hero-content-button,
body.dark-mode .home__about-story-content-button,
body.dark-mode .page__navbar-button,
body.dark-mode .menu-mobile-dark-mode-btn,
body.dark-mode .page__join-button,
body.dark-mode .page__newsletter-content-form-button,
body.dark-mode .blog__hero-content-button,
body.dark-mode .home__posts-featured-content-button {
  background-color: #333333;
  color: #FFFFFF;
  border: 0px solid #2c2c2c;
  white-space: nowrap;
}
body.dark-mode .home__hero-content-button:hover,
body.dark-mode .home__about-story-content-button:hover,
body.dark-mode .page__navbar-button:hover,
body.dark-mode .menu-mobile-dark-mode-btn:hover,
body.dark-mode .page__join-button:hover,
body.dark-mode .page__newsletter-content-form-button:hover,
body.dark-mode .blog__hero-content-button:hover,
body.dark-mode .home__posts-featured-content-button:hover {
  background-color: #393939;
}
body.dark-mode .page__navbar-link,
body.dark-mode .menu-mobile-link,
body.dark-mode .menu-mobile-close-btn,
body.dark-mode .page__category-item-description,
body.dark-mode .blog__about-category-item-description,
body.dark-mode .page__navbar-brand-bracket,
body.dark-mode .page__navbar-brand-name {
  color: #333333 !important;
}
body.dark-mode .page__authors-item,
body.dark-mode .page__category-item,
body.dark-mode .blog__about-category-item {
  background-color: #FFFFFF;
  color: #232536;
}
body.dark-mode .page__authors-item:hover,
body.dark-mode .page__category-item:hover,
body.dark-mode .blog__about-category-item:hover {
  background-color: #e6e6e6;
}
body.dark-mode .home__about-featured-logos-img {
  opacity: 1;
  filter: brightness(7);
  transition: opacity 0.3s ease, filter 0.3s ease;
}
body.dark-mode .home__about-featured-logos-img:hover {
  opacity: 0.9;
  filter: brightness(10);
}
body.dark-mode .page__navbar,
body.dark-mode .menu-mobile {
  background-color: #FFFFFF !important;
}
body.dark-mode .home__posts-list-items-item {
  background-color: #2c2d40;
  color: #FFFFFF;
}
body.dark-mode .home__posts-list-items-item:hover {
  background-color: #b3b3b3;
}
body.dark-mode .home__about-featured-logos-img {
  opacity: 0.9;
  filter: brightness(2);
}
body.dark-mode .home__posts-featured-content {
  background-color: #2c2d40;
  color: #FFFFFF;
  border: 1px solid #6b6b6b;
}

.dark-mode-btn {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.dark-mode-btn-img {
  width: 20px;
  height: 20px;
  margin-top: -8px;
}

/*# sourceMappingURL=style.css.map */
