// Renkler
$white: #FFFFFF; // Beyaz
$white-20: #cccccc;
$black: #00000011; //siyah
$black-50:#00000080; 
$black-80: #000000cc; //siyah 80
$umbra: #1f1f1f; // Header arka plan
$carbon: #333333; // Koyu Gri   
$carbon-333: #333;
$liberty: #5a4999; // Mor  
$royalty: #592ea9;
$shoe-wax: #2c2c2c; // Buton ve border
$cold-steel: #232536; //siyah
$river-styx: #161722;
$clear-moon: #fbf6ea; //açık sarı
$knighthood: #3b3c53;
$knighthood-10: #4f5064;
$alpine-goat: #f4f0f8; //lavender
$boat-anchor: #6b6b6b; // Orta Gri
$alpine-goat: #f4f0f8; //lavender
$dark-tone-ink: #121212; // Koyu arka plan
$eyelash-viper: #f3c84b; // Sarı
$clouded-vision: #d1d1d1; // Açık Gri
$granite-canyon: #6d6e76; //Medium Gri
$white-shoulders: #f1f0ed; // Çok Açık Gri
$shady-character: #4c4c4c7e; 
$shady-character-30: #4c4c4cff;
$christmas-silver: #e0e0e0; //Gümüş 
$atlantic-charter: #2c2d40ff;
$atlantic-charter-40: #2e3040;

// Font Ailesi
$font-family-sen: 'Sen', sans-serif;
$font-family-inter: 'Inter', sans-serif;

//font-weight
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-900: 900;

// Font Büyüklüğü
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-36: 36px;
$font-size-40: 40px;
$font-size-46: 46px;
$font-size-48: 48px;
$font-size-56: 56px;

// Line Heights
$line-height-20: 20px;
$line-height-24: 24px;
$line-height-28: 28px;
$line-height-32: 32px;
$line-height-40: 40px;
$line-height-48: 48px;
$line-height-64: 64px;

.page {

 &__header {
  background-color: $cold-steel;
  color: $white;
 }

 &__navbar {
  z-index: 10;
  height: 80px;
  background-color: $cold-steel !important;

  &-brand {
   font-size: $font-size-24;
   font-family: $font-family-sen;
   font-weight: $font-weight-700;
   color: $white;
   margin-left: 83px;
   display: flex;
   align-items: center;
   white-space: nowrap;
   margin-bottom: 0;
      
   &-bracket {
    font-size: $font-size-24;
    margin-top: -5px;
   }
    
   &-name {
    font-size: $font-size-24;
    padding-left: 2px;
   }
  }
   
  &-nav {
   margin-right: 80px;
  }

  &-item {
   margin: 0 10px;
  }

  &-link {
   color: $white !important;
   font-size: $font-size-16;
   line-height: $line-height-28;
   font-family: $font-family-inter;
  }

  &-button {
   background-color: $white;
   max-width: 179px;
   max-height: 56px;
   padding: 16px 48px;
   cursor: pointer;
   margin-left: 32px;
   border: none;

   &:hover {
    background-color: darken($white, 10%);
   }
  }

  &-text {
   font-weight: $font-weight-700;
   color: $carbon;
   font-size: $font-size-18;
   font-family: $font-family-sen;
   line-height: $line-height-24;
  }
 }

 &__category {
  flex-direction: column;
  max-width: 1280px;
  max-height: 324px;
  
  &-title {
   font-size: $font-size-36;
   line-height: $line-height-48;
   font-family: $font-family-sen;
   font-weight: $font-weight-700;
   white-space: nowrap;
   max-width: 302px;
   max-height: 48px;
   margin-bottom: 48px;
  }
  
  &-item {
   padding: 32px 32px;
   border: 1px solid $clouded-vision;
   transition: background-color 0.3s ease;
   flex-direction: column;
   align-items: flex-start;
   margin-left: 32px;
   max-height: 228px;
  
   &:hover {
    background-color: $eyelash-viper;
   }
    
   &--left {
    padding: 32px 32px;
    border: 1px solid $clouded-vision;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    max-height: 228px;

    &:hover {
     background-color: $eyelash-viper;
    }
   }

   &-icon {

    &--background {
     height: 48px;
     align-items: flex-start;
     justify-content: flex-start;

     &-img {
      width: 23px;
      position: absolute;
      transform: translate(-50%, -50%);
      height: auto;
      padding-bottom: 50px;
      left: 19%;
     }
    }

    &--large {
     width: 40px;
    }
   }
  
   &-title {
    font-size: $font-size-28;
    font-weight: $font-weight-700;
    text-align: left;
    font-family: $font-family-sen;
    max-width: 107px;
    max-height: 40px;
    margin-top: 16px;
    line-height: $line-height-40;
   }
  
   &-description {
    font-size: $font-size-16;
    color: $boat-anchor;
    text-align: left;
    max-width: 232px;
    padding-top: 4px;
    margin-bottom: 0;
    font-weight: $font-weight-400;
    font-family: $font-family-inter;
    line-height: $line-height-28;
   }
  }
 }

 &__authors {
  max-width: 1280px;
  max-height: 420px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;

  .row {
    width: 1280px;
  }

  &-card {
    max-width: 296px;
  }
  
  &-title {
   font-size: $font-size-36;
   line-height: $line-height-48;
   font-family: $font-family-sen;
   letter-spacing: -2px;
   font-weight: $font-weight-700;
  }
  
  &-item {
   background-color: $white-shoulders;
   padding: 30px;
   border-radius: 0px;
   max-height: 324px;
   max-width: 296px;
   padding: 40px 28px;
        
   &:hover {
    background-color: $clear-moon; 
   }

   &-img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-bottom: 20px;
   }
  
   &-name {
    font-size: $font-size-28;
    font-weight: $font-weight-700;
    letter-spacing: -1px;
    line-height: $line-height-40;
    font-family: $font-family-sen;
    white-space: nowrap; 

    &--position {
     margin-left: -10px;
     margin-bottom: 10px;
     line-height: $line-height-40;
     font-size: $font-size-28;
     font-family: $font-family-sen;
     white-space: nowrap;
     font-weight: $font-weight-700;
    }
   }
  
   &-title {
    font-size: $font-size-14;
    font-family: $font-family-inter;
    line-height: $line-height-20;
    font-weight: $font-weight-400;
    white-space: nowrap;
    padding: 0 32px;
    margin-left: -5px;
    max-height: 20px;
   }
  
   &-social {
    gap: 16px;
    max-width: 112px;
    max-height: 16px;
    padding-left: 150px;
        
    &-img {
     width: 16px;
     height: 16px;
    }
   }
  }
 }

 &__join {
  background-color: $white; 
  max-width: 414px;
  margin: 0 auto; 
  flex-direction: column; 
  margin-bottom: 128px;
  margin-top: 128px;

  &--about-page {
    margin-top: 484px;
  }

  &-content {
   max-height: 256px;

   &-title {
    font-size: $font-size-36;
    font-weight: $font-weight-700;
    line-height: $line-height-48;
    letter-spacing: -2px;
    font-family: $font-family-sen;
    margin-bottom: 16px;
    flex-direction: column;
    max-height: 96px;
   }
  
   &-text {
    font-size: $font-size-16;
    color: $granite-canyon;
    line-height: $line-height-28;
    font-family: $font-family-inter;
    margin-bottom: 32px;
    flex-direction: column;
    max-width: 405px;
   }
  
   &-button {
    padding: 16px;
    max-width: 174px;
    max-height: 56px;
    margin: 0 auto;
    border-radius: 0;
    transition: background-color 0.3s ease;
    background-color: $eyelash-viper;
    cursor: pointer;

    &:hover {
     background-color: darken($eyelash-viper, 10%);
    }

    &-link {
     font-size: $font-size-18;
     font-weight: $font-weight-700;
     line-height: $line-height-24;
     max-width: 78px;
     padding-left: 30px;
     white-space: nowrap;
    }
   }
  }
 }

 &__newsletter {
  background-color: $cold-steel;
  padding: 40px 20px;
  color: $white;
  position: absolute;
  height: 100%;
  max-height: 560px;
  
  &-header {
   margin-bottom: 54px;
  
   &-bracket {
    font-size: $font-size-28;
    color: $white;
    margin-left: 280px;
    padding: 0 14.13px;
    font-weight: $font-weight-700;
    max-height: 28.35px;
   }
  
   &-name {
    font-size: $font-size-24;
    font-weight: $font-weight-700;
    color: $white;
    margin-left: -5px;
   }
  
   &-nav {
    margin-right: 350px; 
    max-width: 434px;
    max-height: 28.65px;
    padding: 10px 10px;
    white-space: nowrap;
  
    &-link {
     color: $white;
     padding-left: 24px;
     text-decoration: none;
     font-size: $font-size-16;
     font-family: $font-family-inter;
     line-height: $line-height-28;
    }
   }
  }
  
  &-content {
   background-color: $atlantic-charter-40;
   padding: 72px 64px;
   flex-wrap: wrap;
   max-width: 1280px;
   margin: 0 auto;
  
   &-title {
    font-size: $font-size-36;
    line-height: $line-height-48;
    font-family: $font-family-sen;
    letter-spacing: -2px;
    font-weight: $font-weight-700;
    max-width: 562px;
    max-height: 96px;
   }
  
   &-form {
    gap: 24px;
  
    &-input {
     padding: 14px 24.92px;
     border: 1px solid $granite-canyon;
     width: 323px;
     color: $carbon;
     background-color: $atlantic-charter-40;
    }
  
    &-button {
     background-color: $eyelash-viper;
     width: 179px;
     padding: 16px 48px;
     color: $carbon;
     font-weight: $font-weight-700;
     cursor: pointer;
     border: none;
     transition: background-color 0.3s ease;
  
     &:hover {
      background-color: darken($eyelash-viper, 10%);
     }
    }
   }
  }
  
  &-footer {
   color: $clouded-vision;
   
   &-address {
    position: absolute;
    left: 16%;
    bottom: -80px;
    flex-direction: column;
    font-family: $font-family-inter;
    font-size: $font-size-16;
    line-height: $line-height-28;
   }

   &-contact {
    position: absolute;
    left: 16%;
    bottom: -110px;
    flex-direction: column;
    font-family: $font-family-inter;
    font-size: $font-size-16;
    line-height: $line-height-28;
   }
  
   &-social {
    left: 74.5%;
    bottom: -90px;
    max-height: 16px;
  
    &-icon {
     width: 16px;
     height: 16px;
     margin-left: 26px;
     filter: brightness(0) invert(1); 
     opacity: 0.7; 
     transition: filter 0.3s ease, opacity 0.3s ease;
  
     &:hover {
      filter: brightness(0) invert(1);
     }
    }
   }
  }
 }
}

.home {

 &__hero {
  height: 900px;
  width: 1440px;
  margin-bottom: 128px;
  justify-content: flex-start; 

  &-image {
   position: absolute;
   width: 100%;
   height: 900px;
   object-fit: cover;
   z-index: -1;
   filter: brightness(0.5); 
  }

  &-content {
   max-width: 804px;
   font-weight: $font-weight-400;
   margin-left: 80px;
   flex-direction: column;
   align-items: flex-start; 
   color: $white;
   z-index: 2;

   &-category {
    font-size: $font-size-16;
    line-height: $line-height-20;
    font-family: $font-family-inter;
    letter-spacing: 3px;
    color: $white;
    white-space: nowrap;
    margin-bottom: 24px;
    max-width: 222px;
    max-height: 20px;
      
    &--highlight {
     font-size: $font-size-16;
     line-height: $line-height-20;
     font-weight: $font-weight-900;
     font-family: $font-family-inter;
     letter-spacing: 3px;
     color: $white;
    }
   }

   &-title {
    font-size: $font-size-56;
    font-weight: $font-weight-700;
    line-height: $line-height-64;
    margin-bottom: 24px;
    font-family: $font-family-sen;
    color: $white;
    letter-spacing: -2px;
   }

   &-author {
    font-size: $font-size-16;
    margin-bottom: 16px;
    line-height: $line-height-28;
    font-family: $font-family-inter;
    font-weight: $font-weight-400;
    letter-spacing: 0.28px;

    &--color {
     color: $eyelash-viper;
     font-size: $font-size-16;
     line-height: $line-height-28;
     font-family: $font-family-inter;
     font-weight: $font-weight-400;
    } 
   }

   &-description {
    font-size: $font-size-16;
    line-height: $line-height-28;
    max-width: 599px;
    font-family: $font-family-inter;
    font-weight: $font-weight-400;
    margin-bottom: 48px;
   }

   &-button {
    background-color: $eyelash-viper;
    padding: 16px 48px;
    color: $carbon;
    border: none;
    font-family: $font-family-sen;
    font-weight: $font-weight-700;
    font-size: $font-size-18;
    line-height: $line-height-24;
    cursor: pointer;

    &:hover {
     background-color: darken($eyelash-viper, 10%);
    }
   }
  }
 }

 &__posts {
  flex-wrap: nowrap;
  max-width: 1282px;
  margin: 0 auto;
  max-height: 804px;

  &-featured {
   max-width: 733px;
   min-height: 804px;
   margin-right: 32px;

   &-title {
    font-size: $font-size-36;
    font-weight: $font-weight-700;
    letter-spacing: -2px;
    font-family: $font-family-sen;
    line-height: $line-height-48;
    margin-bottom: 32px;
    max-width: 223px;
    white-space: nowrap;
   }

   &-content {
    padding: 32px;
    background-color: $white;
    border: 1px solid $black;
    min-width: 733px;
    max-height: 724px;
    flex-direction: column;
    align-items: flex-start;

    &-meta {
     font-size: $font-size-14;
     color: $boat-anchor;
     font-weight: $font-weight-500;
     line-height: $line-height-20;
     font-family: $font-family-inter;
     margin-top: 32px;
     padding: 0 6.8px;

     &--author {
      font-family: $font-family-inter;
      color: $liberty;
      font-weight: $font-weight-500;
      font-size: $font-size-14;
      line-height: $line-height-20;
     }
    }

    &-title {
     font-size: $font-size-28;
     font-weight: $font-weight-700;
     font-family: $font-family-sen;
     line-height: $line-height-40;
     letter-spacing: -1px;
     margin-bottom: 16px;
    }

    &-description {
     font-size: $font-size-16;
     line-height: $line-height-28;
     font-family: $font-family-inter;
     color: $granite-canyon;
     font-weight: $font-weight-400;
     margin-bottom: 32px;
     max-width: 551px;
     max-height: 56px;
    }

    &-button {
     background-color: $eyelash-viper;
     width: 204px;
     height: 56px;
     border: none;
     cursor: pointer;
     font-family: $font-family-sen;
     color: $carbon;
     font-weight: $font-weight-700;
     font-size: $font-size-18;
     line-height: $line-height-24;

     &:hover {
      background-color: darken($eyelash-viper, 10%);
     }
    }
   }
  }

  &-list {
   flex-direction: column;
   justify-content: flex-start;
   max-width: 517px;
   min-height: 804px;

   &-title {
    font-size: $font-size-36;
    font-weight: $font-weight-700;
    letter-spacing: -2px;
    font-family: $font-family-sen;
    line-height: $line-height-48;
    max-width: 133px;
    max-height: 48px;
    margin-bottom: 32px;
    white-space: nowrap;
   }

   &-view-all {
    font-size: $font-size-16;
    color: $liberty;
    font-family: $font-family-inter;
    line-height: $line-height-28;
    align-self: flex-end; 
    position: absolute;
    margin-top: 11px;
    cursor: pointer;
   }

   &-items {
    list-style: none;
    padding: 0;
    width: 106.2%;
    max-width: 517px;
    flex-direction: column;

    &-item {
     background-color: $white;
     flex-direction: column;
     justify-content: flex-start; 
     border-radius: 0;
     padding-left: 32px;
     transition: background-color 0.3s ease;

     &:hover {
      background-color: $clear-moon; 
     }

     &-meta {
      font-size: $font-size-14;
      color: $boat-anchor;
      line-height: $line-height-20;
      font-family: $font-family-inter;
      font-weight: $font-weight-500;
      margin-bottom: 8px;
      margin-top: 32px;
      max-width: 199px;

      &--author {
       color: $liberty;
      }
     }

     &-text {
      max-width: 369px;
      max-height: 96px;
      font-size: $font-size-24;
      font-weight: $font-weight-700;
      line-height: $line-height-32;
      font-family: $font-family-sen;
      margin: 0 0 25px 0;
     }
    }
   }
  }
 }
   
 &__about {
  padding-top: 151px;
  flex-direction: column;
   
  &::before {
   content: "";
   position: absolute;
   top: 127px;  
   left: 56.57%; 
   transform: translateX(-50%);
   height: 23px;
   width: 100%;
   max-width: 1061px;
   background: linear-gradient(to right, $eyelash-viper 70%, $liberty 30%);
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 1280px;
    margin-right: 250px;
    margin-bottom: 128px;
   }
 
   &-container-wrapper {
    margin-left: -61px;
    min-width: 1280px;
    padding: 96px 61px 96px 80px; 
    background-color: $alpine-goat;
    justify-content: space-around;
    align-items: flex-start;
   }

  &-section {
   max-width: 515px;
   max-height: 308px;

   &-title {
    font-size: $font-size-16;
    font-weight: $font-weight-600;
    letter-spacing: 3px;
    margin-bottom: 24px;
    max-width: 104px;
    white-space: nowrap;
    font-family: $font-family-inter;
    line-height: $line-height-20;
   }

   &-subtitle {
    font-size: $font-size-36;
    font-weight: $font-weight-700;
    font-family: $font-family-sen;
    line-height: $line-height-48;
    width: 494px;
    letter-spacing: -2px;
   }

   &-description {
    font-size: $font-size-16;
    color: $granite-canyon;
    line-height: $line-height-28;
    font-family: $font-family-inter;
    min-width: 515px;
   }

   &-link {
    font-size: $font-size-18;
    color: $liberty;
    font-weight: $font-weight-700;
    line-height: $line-height-32;
    max-width: 108px;
    max-height: 32px;
   }
  }

  &-mission-section {
   max-width: 516px;
   max-height: 248.73px;

   &-title {
    font-size: $font-size-16;
    font-weight: $font-weight-600;
    letter-spacing: 3px;
    font-family: $font-family-inter;
    line-height: $line-height-20;
    max-width: 124px;
    white-space: nowrap;
   }
  
   &-subtitle {
    font-size: $font-size-28;
    font-weight: $font-weight-700;
    font-family: $font-family-sen;
    line-height: $line-height-40;
    max-width: 481px;
   }
  
   &-description {
    font-size: $font-size-16;
    color: $granite-canyon;
    line-height: $line-height-28;
    font-family: $font-family-inter;
    width: 516px;
    max-height: 108.73px;
   }
  }
  
  &-story {
   max-height: 705px;
   padding: 128px 0;
   margin-bottom: 256px;
  
   .container {
    z-index: 2;
    max-width: 1280px;
    max-height: 705px;
   }
  
   &-image {
    max-width: 949px;
    width: 100%;
    margin-left: -80px;
    height: auto; 
    z-index: 1;
   }
  
   &-content {
    position: absolute;
    z-index: 2; 
    background: $white; 
    padding: 80px;
    max-width: 706px;
    max-height: 584px;
    bottom: 0;
    right: 65px;
    padding-left: 50px;
  
    &-title {
     font-size: $font-size-16;
     font-weight: $font-weight-600;
     margin-bottom: 24px;
     letter-spacing: 3px;
     font-family: $font-family-inter;
     line-height: $line-height-20;
     max-width: 189px;
     white-space: nowrap;
    }
  
    &-subtitle {
     font-size: $font-size-48;
     font-family: $font-family-sen;
     line-height: $line-height-64;
     font-weight: $font-weight-700;
     letter-spacing: -2px;
     max-width: 525px;
    }
  
    &-description {
     font-size: $font-size-16;
     color: $boat-anchor;
     font-family: $font-family-inter;
     line-height: $line-height-28;
     font-weight: $font-weight-400;
     max-width: 546px;
     max-height: 84px;
    }
  
    &-button {
     background-color: $eyelash-viper;
     color: $carbon;
     font-size: $font-size-18;
     font-weight: $font-weight-700;
     border: none;
     max-height: 56px;
     max-width: 269px;
     padding: 16px 48px;
     line-height: $line-height-24;
     cursor: pointer;
     margin-top: 32px;
  
     &:hover {
      background-color: darken($eyelash-viper, 10%);
      color: $carbon;
     }
    }
   }
  }

  &-featured {
   background-color: $white; 
   text-align: left; 
   max-height: 52px;
   padding: 96px 0 0 80px;
  
   &-title { 
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10px;
    margin-left: -120px;
    max-width: 136px;
    max-height: 52px;
  
    &-line-first { 
     padding-top: 5px;
     font-size: $font-size-14;
     line-height: $line-height-20;
     font-family: $font-family-inter;
     color: $granite-canyon;
     font-weight: $font-weight-400;
    } 
  
    &-line-second {  
     font-size: $font-size-24;
     line-height: $line-height-32;
     font-family: $font-family-sen;
     color: $granite-canyon;
     font-weight: $font-weight-700;
    } 
   } 
  
   &-logos {  
    gap: 73px; 
    margin-top: -35px; 
    padding-left: 100px;

    &-img { 
     width: auto; 
     height: 32px; 
     opacity: 0.7; 
     filter: grayscale(30%); 
     transition: opacity 0.3s ease, filter 0.3s ease;
  
     &:hover {
      opacity: 1;
      filter: grayscale(0%);
     }
    }
   }
  }
  
  &-testimonials {
   margin: 0 auto;
   padding-top: 92px;
   background-color: $clear-moon;
   max-width: 1280px;
   max-height: 464px;
  
   &-img {
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 111px;
   }
   
   &-text {
    max-width: 349px;
    max-height: 200px;
    margin-left: 112px;

    &::after {
     content: "";
     position: absolute;
     opacity: 0.3;
     top: 0px;
     right: -96px; 
     height: 310px;
     width: 0.2px; 
     background-color: $granite-canyon; 
    }

    &-heading {
     font-size: $font-size-16;
     letter-spacing: 3px; 
     margin-bottom: 12px;
     font-weight: $font-weight-600;
     font-family: $font-family-inter;
     line-height: $line-height-20;
     max-width: 153px;
    } 
  
    &-subheading {
     font-size: $font-size-36;
     font-weight: $font-weight-700;
     width: 345px;
     letter-spacing: -2px;
     font-family: $font-family-sen;
     line-height: $line-height-48;
    }
  
    &-description {
     font-size: $font-size-16;
     color: $boat-anchor;
     font-weight: $font-weight-400;
     line-height: $line-height-28;
     font-family: $font-family-inter;
     max-width: 349px;
    }
   }

   &-item {
    height: 310px;
    width: 532px;

    &-intro {
     font-size: $font-size-24;
     font-family: $font-family-sen;
     max-width: 460px;
     font-weight: $font-weight-700;
     line-height: $line-height-32;
    }
   }

   &-nav {
    margin-top: -55px;
    margin-left: 200px;
        
    &-prev {
     background-color: $cold-steel;  
     border-radius: 50%;  
     width: 62px;
     height: 62px;
     cursor: pointer;
     margin-right: 10px;
     margin-left: 8px;
     border: none;
      
     &-img {
      filter: brightness(0) invert(1);  
      width: 60%;
     }

     &:hover {
      background-color: darken($cold-steel, 100%);  
     }
    }

    &-next {
     background-color: $white;  
     border: none;
     border-radius: 50%;  
     width: 48px;
     height: 48px;
     cursor: pointer;
     margin-right: 10px;
     margin-left: 200px;
        
     &-img {
      filter: brightness(0); 
      width: 60%;
     }
        
     &:hover {
      background-color: lighten($white, 10%);  
     }
    }
   }

   &-author {
    max-height: 60px;
    max-width: 257px;
    margin-top: -8px;
    flex-direction: column;
    
    &-name {
     font-weight: $font-weight-700;
     white-space: nowrap;
     font-family: $font-family-sen;
     font-size: $font-size-24;
     line-height: $line-height-32;
     max-width: 193px;
     margin-left: 60px;
     margin-top: -50px;
    }
    
    &-location {
     color: $boat-anchor;
     font-weight: $font-weight-400;
     margin-top: -15px;
     max-width: 114px;
     white-space: nowrap;
     font-family: $font-family-inter;
     font-size: $font-size-16;
     line-height: $line-height-28;
    }
   }
  } 
 }    
}        

.blog {

 &__hero {
  background-color: $alpine-goat; 
  max-height: 519px;

  .container {
   margin: 0px auto;
   margin-bottom: 64px;
   margin-top: 80px;
   padding: 80px 0;
  }

  .row {
   min-width: 1280px;
   margin-left: -100px;
  }

  &-content {
   flex-direction: column;
   color: $carbon; 
   max-width: 624px;
   max-height: 332px;
   margin-right: 121px;
   margin-top: 20px;

   &-featured {
    font-size: $font-size-16;
    font-family: $font-family-inter;
    line-height: $line-height-20;
    max-width: 167px;
    letter-spacing: 3px;
    font-weight: $font-weight-500;
    margin-bottom: 20px;
    color: $cold-steel; 
    white-space: nowrap;
   }

   &-title {
    font-size: $font-size-36;
    font-weight: $font-weight-700;
    font-family: $font-family-sen;
    line-height: $line-height-48;
    width: 624px;
    max-height: 96px;
    letter-spacing: -2px;
   }

   &-meta {
    font-size: $font-size-14;
    color: $shady-character-30; 
    line-height: $line-height-20;
    font-family: $font-family-inter;
    max-width: 202px;

    &--author {
     color: $liberty; 
    }
   }

   &-description {
    font-size: $font-size-16;
    font-family: $font-family-inter;
    color: $boat-anchor; 
    margin-bottom: 32px;
    min-width: 624px;
    max-height: 56px;
    line-height: $line-height-28;
   }

   &-button {
    background-color: $eyelash-viper;
    color: $cold-steel;
    font-weight: $font-weight-700;
    padding: 16px 48px;
    white-space: nowrap;
    font-size: $font-size-18;
    font-family: $font-family-sen;
    line-height: $line-height-24;
    max-width: 204px;
    max-height: 56px;

    &:hover {
     background-color: darken($eyelash-viper, 10%);
    }
   }
  }

  &-image {
   justify-content: right;
   align-items: end;

   &-img {
    max-width: 515px;
    height: auto;
   }
  }
 }

 &__posts {

  &-title {
   font-size: $font-size-48;
   line-height: $line-height-64;
   letter-spacing: -2px;
   font-weight: $font-weight-700;
   font-family: $font-family-sen;
   margin: 0 0 0 315px;
   padding-bottom: 32px;
   max-width: 1282px;
   max-height: 96px;
  }

  &-divider {
   border: none;
   height: 1px;
   background-color: $christmas-silver;
   margin-bottom: 64px;
   max-width: 1282px;
  }

  &-list {
   flex-direction: column;
   margin-left: 300px;
   max-width: 1147px;
   max-height: 1846px;

   &-item {
    max-width: 1146px;
    max-height: 318px;
    margin-bottom: 64px;

    &-image {
     width: 50%;
     height: auto;
     margin-right: 32px;
    }

    &-content {
     margin-top: 55px;
     min-width: 624px;
     max-height: 208px;

     &-category {
      font-size: $font-size-16;
      font-weight: $font-weight-600;
      color: $liberty; 
      margin-bottom: 20px;
      max-width: 183.37px;
      letter-spacing: 3px;
      font-family: $font-family-inter;
      line-height: $line-height-20;
     }

     &-title {
      font-size: $font-size-36;
      font-weight: $font-weight-700;
      line-height: $line-height-48;
      font-family: $font-family-sen;
      letter-spacing: -2px;
      max-width: 602.89px;
      max-height: 96px;
     }

     &-description {
      font-size: $font-size-16;
      line-height: $line-height-28;
      color: $boat-anchor;
      font-family: $font-family-inter;
      font-weight: $font-weight-400;
      max-width: 624px;
      max-height: 56px;
     }
    }
   }
  }

  &-pagination {
   margin-left: 872px;
   margin-top: 64px;
   max-height: 174px;
   display: inline-block;
      
   &-prev {
    display: inline;
    color: $granite-canyon; 
    font-weight: $font-weight-700;
    margin: 0 10px;
    font-size: $font-size-24;
    line-height: $line-height-32;
    font-family: $font-family-sen;
   }

   &-next {
    display: inline;
    font-weight: $font-weight-700;
    margin: 0 10px;
    letter-spacing: -1px;
    font-size: $font-size-28;
    line-height: $line-height-40;
    font-family: $font-family-sen;
   }
  }
 }

 &__about {
  margin-top: 64px;
  flex-direction: column;

  &-category {
    display: flex;
    
   &-title {
    font-size: $font-size-36;
    line-height: $line-height-48;
    font-weight: $font-weight-700;
    letter-spacing: -2px;
    margin-bottom: 48px;
    max-width: 218px;
    margin-left: -1060px;
    max-height: 48px;
    white-space: nowrap;
   }
  } 
 }
}

.about {

 &__hero {
  position: relative;
  background-color: $white;
  color: $cold-steel;
  padding-top: 160px;
  text-align: center;

  .row {
    max-width: 1133px;
    max-height: 356px;
  }

  &-content {
   z-index: 2;
   background-color: $white;
   align-items: center;
   justify-content: space-between;
   position: relative;
   flex-direction: column;
   min-width: 624px;
   
   padding: 64px;
   margin-left: 23px;

   &-title {
    font-size: $font-size-16;
    font-family: $font-family-inter;
    line-height: $line-height-20;
    text-align: left;
    display: flex;
    white-space: nowrap;
    letter-spacing: 3px;
    max-width: 104px;
   }

   &-description {
    font-family: $font-family-sen;
    font-size: $font-size-48;
    line-height: $line-height-64;
    display: flex;
    text-align: left;
    font-weight: $font-weight-700;
    max-width: 496px;
    max-height: 192px;
    letter-spacing: -2px;
   }
  }

  &-description {
   min-width: 477px;
   margin-left: 120px;
   padding-top: 102px;

   &-text {
    font-size: $font-size-16;
    font-family: $font-family-inter;
    line-height: $line-height-28;
    text-align: left;
   }
  }

  &-image {
   width: 200%;
   object-fit: cover;
   position: relative;
   margin-top: -89px;
   z-index: 0;
   min-width: 1280px;
   object-fit: cover;
   left: -6%;  
  }
 }

 &__stats {
  position: absolute;
  bottom: 23px; 
  left: 31.5%;
  transform: translateX(-50%);
  background-color: $eyelash-viper; 
  max-height: 156px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 32px 48px 32px 48px;
  box-sizing: border-box;
 
  &-item {
   max-height: 92px;
   margin-right: 68px;

   &-number {
    font-size: $font-size-56; 
    color: $carbon-333; 
    font-weight: $font-weight-700;
    text-align: left;
    line-height: $line-height-64;
    max-width: 126.59px;
    margin-bottom: 0;
    font-family: $font-family-sen;

    &::after {
     content: '';
     position: absolute;
     left: 52.5px;
     right: 50%;
     bottom: 73px;
     width: 26px;
     height: 7px;
     background-color: $carbon-333;
    }    
    
    &::before {
     content: '';
     position: absolute;
     left: 242px;
     right: 50%;
     bottom: 73px;
     width: 26px;
     height: 7px;
     background-color: $carbon-333;
    }
   }

   &-text {
    font-size: $font-size-16;
    color: $carbon;
    font-weight: $font-weight-400;
    font-family: $font-family-inter;
    line-height: $line-height-28;
   }
  }
 }

 &__posts {
  
  &::before {
   content: "";
   position: absolute;
   top: 94.8%;  
   left: 44.9%; 
   transform: translateX(-50%); 
   height: 23px;
   width: 70%;
   max-width: 861.91px;
   background: linear-gradient(to left, $eyelash-viper 70%, $liberty 30%);
   z-index: 2;
  }

  .container {
   max-width: 1280px;
   font-weight: $font-weight-500;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
  }

  &-container-wrapper {
   max-width: 1280px; 
   min-height: 441px; 
   margin: 0 auto; 
   padding: 128px 108px 64px 108px; 
   position: relative;
   background-color: $alpine-goat;
   margin-bottom: 128px;
  }

  .row {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
  }

  &-section {
   max-width: 516px;
   max-height: 249px;
   margin-right: 32px;
   text-align: left;

   &-title {
    font-size: $font-size-16;
    font-weight: $font-weight-600;
    letter-spacing: 3px;
    margin-bottom: 24px;
    font-family: $font-family-inter;
    line-height: $line-height-20;
    max-width: 124px;
    white-space: nowrap;
   }

   &-subtitle {
    font-size: $font-size-28;
    font-weight: $font-weight-700;
    font-family: $font-family-sen;
    line-height: $line-height-40;
    max-width: 481px;
    max-height: 80px;
   }

   &-description {
    font-size: $font-size-16;
    color: $granite-canyon;
    line-height: $line-height-28;
    font-family: $font-family-inter;
    font-weight: $font-weight-400;
    max-width: 516px;
    max-height: 109px;
   }
  } 

  &-mission-section {
    max-width: 516px;
    max-height: 249px;
    
   &-title {
    font-size: $font-size-16;
    font-weight: $font-weight-600;
    letter-spacing: 3px;
    margin-bottom: 24px;
    font-family: $font-family-inter;
    line-height: $line-height-20;
    max-width: 121px;
    white-space: nowrap;
   }

   &-subtitle {
    font-size: $font-size-28;
    font-weight: $font-weight-700;
    font-family: $font-family-sen;
    line-height: $line-height-40;
    max-width: 475px;
    max-height: 80px;
   }

   &-description {
    font-size: $font-size-16;
    color: $granite-canyon;
    line-height: $line-height-28;
    font-family: $font-family-inter;
    max-width: 516px;
    max-height: 109px;
   }
  }
 }

 &__team {
  max-width: 1280px;
  max-height: 480px;
  margin: 0 auto;
  margin-bottom: 128px;

  &-content {
   margin-right: 80px;
   max-width: 519px;
   max-height: 316px;
  }

  &-title {
   font-size: $font-size-36;
   line-height: $line-height-48;
   font-family: $font-family-sen;
   letter-spacing: -2px;
   font-weight: $font-weight-700;
   margin-bottom: 16px;
   text-align: left;
   max-width: 444px;
  }

  &-subtitle {
   font-size: $font-size-24;
   line-height: $line-height-32;
   font-family: $font-family-sen;
   font-weight: $font-weight-700;
   text-align: left;
   min-width: 519px;
   max-height: 96px;
  }

  &-description {
   font-size: $font-size-16;
   line-height: $line-height-28;
   font-family: $font-family-inter;
   font-weight: $font-weight-400;
   width: 519px;
   max-height: 140px;
  }

  &-image {
   max-width: 624px;
   height: auto;
   margin-right: 30px;
  }

  &-decorator {
   position: absolute;
   background-color: $eyelash-viper; 
   width: 103px;
   height: 116px;
   top: 114px;
   left: -45px;
   border-radius: 50px 0 0 0;
  }
 }

 &__talk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
  max-width: 1207px;
  height: 517px;
  margin-bottom: 91px;

  &-container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
  }

  &-image {
   position: relative;
   width: 50%;
   margin-right: 64px;

   &-img {
    width: 100%;
    height: auto;
    object-fit: cover;
   }
  }

  &-decorator {
   position: absolute;
   bottom: -30px;
   left: 120px;
   width: 60px;
   height: 60px;
   background-color: $liberty; 
   border-radius: 50%;
  }
  
  &-content {

   &-title {
    font-size: $font-size-36;
    font-family: $font-family-sen;
    line-height: $line-height-48;
    font-weight: $font-weight-700;
    margin-bottom: 16px;
    letter-spacing: -2px;
    max-width: 401px;
    max-height: 48px;
   }

   &-subtitle {
    font-size: $font-size-24;
    font-family: $font-family-sen;
    line-height: $line-height-32;
    font-weight: $font-weight-700;
    max-width: 511px;
    max-height: 96px;
   }

   &-description {
    font-size: $font-size-16;
    font-family: $font-family-inter;
    line-height: $line-height-28;
    font-weight: $font-weight-400;
    max-width: 519px;
    max-height: 140px;
    margin-bottom: 0;
   }
  }
 }
}

.contact {

 &__hero {
  position: relative;

  .container {
   display: flex;
   align-items: center;
   padding: 208px 256px 64px 256px;
  }

  .row {
   align-items: center;
   justify-content: center;
   min-width: 768px;
   max-height: 282px;
  }

  &-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 768px;
   max-height: 282px;
   margin: 0 auto;
   margin-left: -50px;

   &-title {
    font-size: $font-size-28;
    line-height: $line-height-40;
    font-family: $font-family-sen;
    color: $royalty;
    white-space: nowrap;
    font-weight: $font-weight-700;
    margin-left: 40px;
    letter-spacing: -1px;
    margin-bottom: -5px;
    max-width: 188px;
    max-height: 40px;
    margin-top: -50px;
   }

   &-date {
    font-size: $font-size-16;
    line-height: $line-height-28;
    font-family: $font-family-inter;
    color: $granite-canyon;
    margin-bottom: 24px;
    margin-left: 40px;
    max-width: 224px;
    max-height: 28px;
   }

   &-subtitle {
    font-size: $font-size-48;
    font-family: $font-family-sen;
    line-height: $line-height-64;
    font-weight: $font-weight-700;
    letter-spacing: -2px;
    max-width: 768px;
    max-height: 128px;
    margin-left: -20px;
   }

   &-tag {
    font-size: $font-size-24;
    line-height: $line-height-32;
    font-family: $font-family-sen;
    white-space: nowrap;
    font-weight: $font-weight-700;
    max-width: 88px;
    max-height: 32px; 
    margin-left: -20px;
    padding-top: 34px;
    margin-bottom: 64px;

    &-icon {
      margin-right: 4px;
    }
   }

   &-image {
    max-width: 48px;
    height: 48px;
    border-radius: 10px;
    margin-left: -20px;
    margin-top: 64px;
   }
  }

  &-image-main {
   max-width: 1280px;
   height: auto;
   margin-left: 300px;
  }

  &-indicators {
   position: absolute;
   bottom: -25px;
   left: 35%;
   transform: translateX(-50%);
  }

  &-control {

   &-prev {
    position: absolute;
    transform: translateY(-50%);
    margin-top: 300px;
    width: 40px;
    height: 40px;
    background-color: $black-50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 13.5%;

    &:hover {
     background-color: $black-80;
    }
   }

   &-next {
    position: absolute;
    transform: translateY(-50%);
    margin-top: 300px;
    width: 40px;
    height: 40px;
    background-color: $black-50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 14.6%;

    &:hover {
     background-color: $black-80;
    }

    &-icon {
     width: 20px;
     height: 20px;
    }
   }
  }
 }

 &__posts {
  background-color: $white;
  margin: 64px 0 128px;
  
  &-title {
   font-size: $font-size-36;
   font-weight: $font-weight-700;
   line-height: $line-height-48;
   margin-bottom: 16px;
   font-family: $font-family-sen;
   letter-spacing: -2px;
   max-width: 843px;

   &--space-36 {
    font-size: $font-size-36;
    font-weight: $font-weight-700;
    line-height: $line-height-48;
    margin-bottom: 16px;
    margin-top: 48px;
    font-family: $font-family-sen;
    letter-spacing: -2px;
    max-width: 836.11px;
   }

   &--bottom {
    font-size: $font-size-36;
    font-weight: $font-weight-700;
    line-height: $line-height-48;
    margin-bottom: 16px;
    margin-top: 48px;
    font-family: $font-family-sen;
    letter-spacing: -2px;
    max-width: 843px;
   }
  }

  &-text {
   font-size: $font-size-16;
   line-height: $line-height-28;
   margin-bottom: 0;
   font-family: $font-family-inter;
   color: $granite-canyon;
   max-width: 843px;
   max-height: 112px;

   &--space-36 {
    max-width: 836px;
    max-height: 112px;
    font-weight: $font-weight-400;
    margin-bottom: 0;
    color: $granite-canyon;
    font-family: $font-family-inter;
    font-size: $font-size-16;
    line-height: $line-height-28;
   }

   &--space-37 {
    max-width: 837px;
    max-height: 112px;
    font-weight: $font-weight-400;
    margin-bottom: 24px;
    color: $granite-canyon;
    font-family: $font-family-inter;
    font-size: $font-size-16;
    line-height: $line-height-28;
   }

   &--space-38 {
    max-width: 837px;
    max-height: 112px;
    font-weight: $font-weight-400;
    margin-bottom: 0;
    color: $granite-canyon;
    font-family: $font-family-inter;
    font-size: $font-size-16;
    line-height: $line-height-28;
   }
  }

  &-list {
   list-style: disc;
   padding-left: 20px;
 
   &-text {
    font-size: $font-size-24;
    line-height: $line-height-32;
    font-family: $font-family-sen;
    font-weight: $font-weight-700;
    color: $river-styx;
    margin-bottom: 2px;
    max-width: 680px;

    &--top {
     margin-top: 24px;
     font-size: $font-size-24;
     line-height: $line-height-32;
     font-family: $font-family-sen;
     font-weight: $font-weight-700;
     color: $river-styx;
     margin-bottom: 2px;
     max-width: 625px;
    }
  
     &--bottom {
      margin-bottom: 24px;
      font-size: $font-size-24;
      line-height: $line-height-32;
      font-family: $font-family-sen;
      font-weight: $font-weight-700;
      color: $river-styx;
      max-width: 625px;
     }
   }
  }

  .container {
   max-width: 873px;
   max-height: 1164px;
   margin: 0 auto;
  }
 }

 &__read-next {
  max-width: 1280px;
  max-height: 782px;
  align-items: center;  
  justify-content: center;
  margin-left: 340px;
  padding-bottom: 64px;
  border-bottom: 1px solid $clouded-vision;

  &-title {
   font-size: $font-size-36;
   line-height: $line-height-48;
   font-weight: $font-weight-700;
   margin-bottom: 64px;
   font-family: $font-family-sen;
   letter-spacing: -2px;
   max-width: 289px;
  }

  &-card {
    max-width: 405px;
  }

  &-image {
   max-width: 405px;
   margin-bottom: 32px;
  }

  &-content {
   text-align: left;
   max-width: 405px;
  }

  &-author {
   font-size: $font-size-14;
   font-family: $font-family-inter;
   line-height: $line-height-20;
   color: $boat-anchor;
   font-weight: $font-weight-500;
   margin-bottom: 16px;
   max-width: 199px;

   &--highlight {
    color: $liberty;
    font-size: $font-size-14;
    font-family: $font-family-inter;
    line-height: $line-height-20;
    font-weight: $font-weight-500;
  }
  }

  &-post-title {
   font-size: $font-size-28;
   font-family: $font-family-sen;
   font-weight: $font-weight-700;
   margin-bottom: 16px;
   letter-spacing: -1px;
   line-height: $line-height-40;
   max-width: 405px;
   max-height: 120px;
  }

  &-description {
   font-size: $font-size-16;
   line-height: $line-height-28;
   font-family: $font-family-inter;
   color: $boat-anchor;
   margin-bottom: 0;
   max-width: 405px;
   max-height: 84px;
  }
 }
}

.scroll-up-btn {
 display: none; 
 position: fixed;
 bottom: 30px; 
 right: 30px; 
 z-index: 4;
 font-size: $font-size-18;
 background-color: $eyelash-viper;
 color: $white;
 outline: none;
 cursor: pointer;
 padding: 15px;
 border-radius: 50%; 
 opacity: 0.7;
 transition: opacity 0.3s;
 width: 50px; 
 height: 50px;
 text-align: center; 
 line-height: $line-height-20;

 &:hover {
  opacity: 1; 
 } 

 &:focus {
  outline: none; 
 }
}

.menu-toggle {
 position: fixed;
 top: 20px;
 right: 30px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 background: transparent;
 border: none;
 cursor: pointer;
 width: 20px;
      
 &-icon {
  background-color: $white;
  margin: 4px 0;
 }

 &:focus {
  outline: none;
 }
}

.menu-mobile {
 position: fixed;
 top: 80px;
 right: 0;
 width: 200px;
 height: auto;
 background-color: $cold-steel;
 transform: translateX(100%);
 transition: transform 0.3s ease-in-out;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 cursor: pointer;

 &-nav {
  width: 100%;
 }

 &-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
 }

 &-item {
  margin: 20px 0;
 }

 &-link {
  color: $white;
  text-decoration: none;
  font-size: $font-size-20;
  transition: color 0.3s ease;

  &:hover {
   color: lighten($white, 20%);
  }
 }

 &-dark-mode-btn {
  background-color: $white;
  color: $cold-steel;
  border: none;
  padding: 10px 20px;
        
  &:focus {
   outline: none;
  }
 }

 &.active {
  transform: translateX(0);
 }
}

@media (min-width: 1000px) {
 .menu-toggle {
  display: none;
 }
}

@media (max-width: 1000px) {
 .dark-mode-btn {
  display: none; 
 }

 .menu-toggle {
  display: flex;
  margin-top: -8px;
 }

 .menu-toggle-icon {
  width: 30px; 
  height: auto;  
  background-color: transparent;  
 }
}

.dark-mode-btn {
 position: fixed;
 top: 20px;
 right: 32px;
 width: 40px;
 height: 40px;
 background-color: $white;
 border: none;
 cursor: pointer;
 padding: 10px;
 border-radius: 5px;

 &:focus {
  outline: none;
 }

 &-img {
  width: 20px;
  height: 20px;
  margin-top: -8px;
 }
}

@mixin dark-mode {
 background-color: $atlantic-charter;
 color: $white;
  
 .home__posts-featured-content-description, 
 .home__about-section-description, 
 .home__about-mission-section-description, 
 .blog__hero-content-description, 
 .contact__posts-text,
 .contact__posts-text--space-36,
 .contact__posts-text--space-37,
 .contact__posts-text--space-38,
 .home__hero-content-author--color,
 .home__about-testimonials-author-location,
 .page__newsletter-footer-address, 
 .page__newsletter-footer-contact,
 .page__navbar-text,
 .home__about-story-content-description,
 .home__about-testimonials-text-description,
 .page__join-text,
 .home__posts-list-items-item-text,
 .home__posts-list-items-item-meta,
 .home__posts-featured-content-meta,
 .blog__posts-pagination-prev,
 .blog__posts-list-item-content-description,
 .contact__hero-content-date,
 .contact__read-next-description,
 .contact__read-next-author,
 .home__posts-list-view-all,
 .home__about-section-link,
 .home__posts-list-items-item-meta--author,
 .home__posts-featured-content-meta--author,
 .blog__hero-content-meta--author,
 .blog__posts-list-item-content-category,
 .contact__read-next-author--highlight,
 .contact__hero-content-title,
 .about__stats-item-number,
 .about__stats-item-text,
 .page__join-content-text {
  color: $white !important;
 }

 .home__about-container-wrapper,
 .home__about-story-content,
 .home__about-testimonials,
 .blog__hero,
 .about__hero-content,
 .about__posts-container-wrapper,
 .about__stats,
 .blog__hero-content-title,
 .blog__hero-content-meta,
 .blog__hero-content-featured,
 .about__posts-mission-section-description,
 .about__posts-section-description {
  background-color: $cold-steel;
  color: $white;
 }
  
 .page__join,
 .home__about-featured,
 .contact__posts,
 .contact__posts-list-text,
 .contact__posts-list-text--top,
 .contact__posts-list-text--bottom,
 .dark-mode-btn,
 .about__hero {
  background-color: $atlantic-charter;
  color: $white;
 }

 .home__hero-content-button,
 .home__about-story-content-button,
 .page__navbar-button,
 .menu-mobile-dark-mode-btn,
 .page__join-button,
 .page__newsletter-content-form-button,
 .blog__hero-content-button,
 .scroll-up-btn,
 .home__posts-featured-content-button,
 .page__join-content-button {
  background-color: $carbon;
  color: $white;
  border: 0px solid $shoe-wax;
  white-space: nowrap;

  &:hover {
   background-color: lighten($umbra, 10%);
  }
 }

 .page__navbar-link,
 .menu-mobile-link,
 .menu-mobile-close-btn,
 .page__category-item-description, 
 .blog__about-category-item-description,
 .page__navbar-brand-bracket,
 .page__navbar-brand-name {
  color: $carbon !important;
 }

 .page__authors-item,
 .page__category-item,
 .page__category-item--left,
 .blog__about-category-item {
  background-color: $white;
  color: $cold-steel;

  &:hover {
   background-color: darken($white, 20%);
  }   
 }

 .about__stats-item-number::before,
 .about__stats-item-number::after {
  background-color: $white;
 }

 .home__about-featured-logos-img {
  opacity: 1; 
  filter: brightness(7); 
  transition: opacity 0.3s ease, filter 0.3s ease;
  
  &:hover {
   opacity: 0.9;
   filter: brightness(10); 
  }
 }

 .contact__hero-content-tag-icon {
  opacity: 1;
  filter: contrast(3);
 }

 .about__posts::before {
  background: linear-gradient(to left, $knighthood 70%, $knighthood-10 30%);
 }

 .home__about::before {
 background: linear-gradient(to right, $knighthood 70%, $knighthood-10 30%);
}

 .page__navbar,
 .menu-mobile {
  background-color: $white !important;
 }

 .home__posts-list-items-item {
  background-color: $atlantic-charter;
  color: $white;

  &:hover {
   background-color: darken($white-20, 10%);
  }   
 }

 .home__about-featured-logos-img {
  opacity: 0.9; 
  filter: brightness(2); 
 }

 .home__posts-featured-content {
  background-color: $atlantic-charter;
  color: $white;
  border: 1px solid $boat-anchor;
 }
}

body.dark-mode {
 @include dark-mode;
}